.ordered-food-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    flex-grow: 1;
    display: flex;
  }

  .item {
    &__food-name {
      font-size: $font-xl;
      font-weight: 500;
      color: $secondary-dark-30;
    }

    &__place-name {
      font-size: $font-sm;
      font-weight: 500;
      color: $secondary-light-20;
      margin: 5px 0 18px 1px;
    }

    &__menu {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: $font-xl;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .ordered-food-list {
    overflow: hidden;

    .item {
      &__menu {
        top: 8px;
        right: 10px;
      }

      &__food-name {
        font-size: $font-lg;
      }
    }
  }
}

.dark-mode {
  .ordered-food-list {
    .item {
      &__food-name {
        color: $white;
      }
    }
  }
}
