<div class="ordered-food-list">
  <header class="ordered-food-list__header">
    <h1>Jedzenie do zamówienia</h1>
    <CButton label="Dodaj jedzenie" icon="plus" />
  </header>
  <CListWithFilters
    :defaultFilters="orderedFoodListDefaultFilters"
    listName="orderedFoodList"
    listGetterName="orderedFood/getOrderedFoodList"
    listLoadActionName="orderedFood/loadOrderedFoodList"
    listIsLoadingGetterName="orderedFood/isLoadingOrderedFoodList"
    tagsGetterName="orderedFood/getOrderedFoodTags"
    tagsLoadActionName="orderedFood/loadOrderedFoodTags"
    tagsIsLoadingGetterName="orderedFood/isLoadingOrderedFoodTags"
  >
    <template v-slot:default="{ item, addTagAndFilter }">
      <div class="ordered-food-list__item item">
        <p class="item__food-name">{{ item.foodName }}</p>
        <p class="item__place-name">{{ item.placeName }}</p>
        <CDisplayTags :tags="item.tags" @click="addTagAndFilter" />
        <CButton
          color="secondary"
          label=""
          variant="text"
          icon="ellipsis-vertical"
          class="item__menu"
        />
      </div>
    </template>
  </CListWithFilters>
</div>
