<div class="ordered-food-list">
  <header class="ordered-food-list__header">
    <h1>Jedzenie do zamówienia</h1>
    <CButton
      label="Dodaj jedzenie"
      icon="plus"
      size="small"
      @click="onAddButtonClick"
    />
  </header>
  <main class="ordered-food-list__content">
    <CListWithFilters
      :defaultFilters="orderedFoodListDefaultFilters"
      listName="orderedFoodList"
      storeModuleName="orderedFood"
      :sortOptions="orderedFoodListSortOptions"
    >
      <template #header="{ item }">
        <OrderedFoodListItemHeader
          :item="item"
          @addToCalendar="openAddToCalendarModal"
          @edit="editOrderedFood"
        />
      </template>
      <template #body="{ item, addTagToSelected }">
        <OrderedFoodListItemBody
          :item="item"
          :addTagToSelected="addTagToSelected"
        />
      </template>
    </CListWithFilters>
  </main>
</div>
<AddToCalendarModal
  v-model:isOpen="isAddToCalendarModalOpen"
  :addedOrderedFood="orderedFoodAddedToCalendar"
  :defaultMembers="[]"
/>
<EditModal
  v-model:isOpen="isEditModalOpen"
  :orderedFoodId="editedOrderedFoodId"
/>
