<div class="ordered-food-list">
  <header class="ordered-food-list__header">
    <h1>Jedzenie do zamówienia</h1>
    <CButton label="Dodaj" icon="plus" size="small" />
  </header>
  <main class="ordered-food-list__content">
    <CListWithFilters
      :defaultFilters="orderedFoodListDefaultFilters"
      listName="orderedFoodList"
      listGetterName="orderedFood/getOrderedFoodList"
      listLoadActionName="orderedFood/loadOrderedFoodList"
      listLoadingGetterName="orderedFood/isLoadingOrderedFoodList"
      tagsGetterName="orderedFood/getOrderedFoodTags"
      tagsLoadActionName="orderedFood/loadOrderedFoodTags"
      tagsLoadingGetterName="orderedFood/isLoadingOrderedFoodTags"
      :sortOptions="orderedFoodListSortOptions"
    >
      <template #header="{ item }">
        <OrderedFoodListItemHeader
          :item="item"
          @addToCalendar="openAddToCalendarModal"
        />
      </template>
      <template #body="{ item, addTagToSelected }">
        <OrderedFoodListItemBody
          :item="item"
          :addTagToSelected="addTagToSelected"
        />
      </template>
    </CListWithFilters>
  </main>
</div>
<AddToCalendarModal
  v-model:isOpen="isAddToCalendarModalOpen"
  :addedOrderedFood="orderedFoodAddedToCalendar"
  :defaultPortions="1"
/>
