<div class="table" ref="container">
  <CTableLoader
    v-if="_isLoading"
    :container="container"
    :columnsCount="columnsCount"
  />
  <table v-else class="table__content">
    <thead>
      <tr>
        <th v-for="col in columns">
          <CSortingTrigger
            v-if="col.sortable"
            :column="col"
            :currentSort="selectedSort"
            @sortChange="sort"
          />
          <p v-else>{{ col.label }}</p>
        </th>
      </tr>
    </thead>
    <tbody v-if="itemsCount < 1" class="table__empty-content">
      <tr>
        <td>Brak wyników</td>
      </tr>
    </tbody>
    <tbody v-else>
      <tr v-for="item in list?.data">
        <td v-for="col in columns">
          <slot :name="col.value" :itemValue="item[col.value]">
            {{ col.getItemColumnValue ? col.getItemColumnValue(item[col.value])
            : item[col.value] }}
          </slot>
        </td>
      </tr>
    </tbody>
  </table>
  <CPagination
    class="table__pagination"
    :currentPage="filters.currentPage"
    @update:currentPage="changeCurrentPage"
    :paginationData="list?.pagination"
    :isLoading="_isLoading"
  />
</div>
