.card {
  padding: $spacing-3xl;
  border-radius: $radius-md;

  &--outlined {
    background-color: var(--surface-primary);
    border: 1px solid var(--border-color);
  }

  &--contained {
    background-color: var(--surface-secondary);
  }
}

@media screen and (max-width: $screen-md) {
  .card {
    padding: $spacing-lg;
  }
}
