.card {
  background-color: $white;
  box-shadow: $shadow-xs-light;
  padding: 25px;
  border-radius: 5px;
}

@media screen and (max-width: $screen-md) {
  .card {
    padding: 15px 10px;
  }
}

.dark-mode {
  .card {
    background-color: $secondary-dark-25;
    box-shadow: $shadow-xs-dark;
  }
}
