.card {
  background-color: $white;
  box-shadow: $shadow-md;
  padding: 30px;
  margin: 10px;
  transition: background-color 0.2s ease-in-out;
  border-radius: 8px;
}

@media screen and (max-width: $screen-md) {
  .card {
    padding: 20px;
  }
}

.dark-mode {
  .card {
    background-color: $secondary-dark-30;
  }
}
