.item-header {
  &__recipe-name {
    font-size: $font-xl;
    font-weight: $font-medium;
    line-height: 100%;
    cursor: pointer;
  }

  &__cookidoo-link {
    svg {
      width: 17px;
    }
  }

  &__buttons {
    display: flex;
    gap: $spacing-xs;
    margin-top: -$spacing-xs;

    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-base;
      padding: 0;
      width: 28px;
      height: 28px;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .item-header {
    &__recipe-name {
      font-size: $font-lg;
    }

    &__buttons {
      margin-top: -$spacing-xs;
    }
  }
}
