.item-header {
  &__name-wrapper {
    display: flex;
    column-gap: $spacing-md;
    row-gap: $spacing-xs;
    flex-wrap: wrap;
    align-items: start;
  }

  &__recipe-name {
    font-size: $font-xl;
    font-weight: $font-medium;
    line-height: 100%;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__empty-badge {
    font-size: $font-xs;
    padding: $spacing-2xs $spacing-md;
    background-color: color-mix(
      in srgb,
      var(--warning-secondary) 75%,
      var(--surface-primary)
    );
    color: var(--warning-primary);
    font-weight: $font-medium;
    border-radius: $radius-2xl;
    margin-top: $spacing-2xs;
  }

  &__cookidoo-link {
    svg {
      width: 16px;
    }
  }

  &__buttons {
    display: flex;
    gap: $spacing-2xs;
    margin-top: -$spacing-sm;

    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-base;
      padding: 0;
      width: 28px;
      height: 28px;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .item-header {
    &__recipe-name {
      font-size: $font-lg;
    }

    &__empty-badge {
      margin-top: 0;
    }

    &__buttons {
      margin-top: -7px;
    }
  }
}
