<RouterLink :to="'/recipes/' + item.id">
  <p class="item-header__recipe-name">{{ item.recipeName }}</p>
</RouterLink>
<div class="item-header__buttons">
  <template v-if="isMobile">
    <CButtonWithDropdown
      color="secondary"
      variant="text"
      icon="ellipsis-vertical"
      :options="mobileDropdownOptions"
    />
  </template>
  <template v-else>
    <CButton
      color="secondary"
      variant="text"
      icon="cart-shopping"
      v-tooltip="{ text: 'Dodaj do listy zakupów' }"
    />
    <CButton
      color="secondary"
      variant="text"
      :icon="['far', 'calendar']"
      @click="addToCalendar"
      v-tooltip="{ text: 'Dodaj do kalendarza' }"
    />
    <CButton
      v-if="item.cookidooLink"
      color="secondary"
      variant="text"
      @click="openCookidoLink"
      class="item-header__cookidoo-link"
      v-tooltip="{ text: 'Otwórz w Cookidoo' }"
    >
      <InlineSvg :src="require('@/assets/icons/thermomix.svg')" />
    </CButton>
  </template>
</div>
