.new-recipe {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__body {
    margin-bottom: $spacing-4xl;
  }

  &__buttons {
    display: flex;
  }
}

@media screen and (max-width: $screen-md) {
  .new-recipe {
    &__body {
      padding: 0 $spacing-lg;
      margin-bottom: $spacing-2xl;
    }

    &__buttons {
      padding: 0 $spacing-lg;
    }
  }
}
