.shopping-side-nav {
  display: flex;
  flex-direction: column;
  gap: $spacing-2xl;
  width: 40%;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-md;

    > p {
      @include heading-2;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-lg;
    padding: $spacing-xl $spacing-lg $spacing-xl $spacing-2xl;
    border: 1px solid var(--border-color);
    border-radius: $radius-sm;
    cursor: pointer;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 25px;

      > p {
        font-size: $font-lg;
        font-weight: $font-medium;
      }

      > div {
        display: flex;
        gap: $spacing-2xs;
      }
    }

    &__amount {
      font-size: $font-sm;
      color: var(--text-secondary);
    }

    &:hover:not(.item--active) {
      border-color: var(--border-active);
    }

    &--active {
      border-color: var(--primary);
    }
  }
}

@media screen and (max-width: $screen-md) {
  .shopping-side-nav {
    gap: $spacing-sm;
    width: 100%;

    &__heading {
      padding-left: 1px;
    }
  }
}
