<div class="shopping-side-nav">
  <div class="shopping-side-nav__heading">
    <p>Listy</p>
    <CButton
      color="secondary"
      variant="outlined"
      icon="plus"
      :label="!isMobile ? 'Dodaj' : ''"
      :size="isMobile ? 'large' : 'small'"
      @click="emits('addList')"
    />
  </div>
  <div class="shopping-side-nav__items">
    <div
      v-for="item in items"
      class="shopping-side-nav__item item"
      :class="{ 'item--active': isListActive(item.id), 'item--with-drop-overlay': isDragging }"
      @click="emits('update:activeListId', item.id)"
      @drop.prevent="onDrop($event, item, isListActive(item.id))"
      @dragenter.prevent
      @dragover.prevent
    >
      <div class="item__header">
        <p>{{ item.name }}</p>
        <div v-if="!isListActive(item.id)">
          <CButton
            color="secondary"
            variant="text"
            :size="isMobile ? 'medium' : 'small'"
            icon="edit"
            @click.stop="emits('editList', item.id)"
          />
          <CButton
            color="error"
            variant="text"
            :size="isMobile ? 'medium' : 'small'"
            icon="ban"
            @click.stop=""
          />
        </div>
      </div>
      <p v-if="item.count === 0" class="item__amount">pusto!</p>
      <p v-else class="item__amount">ilość produktów: {{ item.count }}</p>
      <div v-if="isDragging" class="item__drop-overlay">
        <FontAwesomeIcon v-if="isListActive(item.id)" icon="circle-xmark" />
        <FontAwesomeIcon v-else icon="circle-down" />
      </div>
    </div>
  </div>
</div>
