.table {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  &__content {
    border-collapse: collapse;
    min-width: 750px;

    tr {
      border-bottom: 1px solid var(--border-color);
    }

    th,
    td {
      padding: $spacing-3xl;

      &:first-child {
        padding-left: $spacing-sm;
      }

      &:last-child {
        padding-right: $spacing-sm;
      }
    }

    th {
      @include uppercasedSecondaryText;
      text-align: left;
      padding: 0 $spacing-3xl $spacing-sm;

      & > p {
        display: inline;
      }
    }
  }

  &__empty-content {
    tr {
      position: relative;
      border: 0;
    }

    td {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      padding: $spacing-lg;
    }
  }

  &__pagination {
    margin-top: $spacing-xl;
    align-items: flex-start;

    &:deep(.skeleton-loader) {
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .table {
    &__content {
      td {
        padding: $spacing-lg $spacing-xl;
      }

      th {
        padding: 0 $spacing-xl $spacing-sm;
        font-size: $font-xs;
      }
    }
  }
}
