<div class="table" ref="container">
  <div v-if="isLoading" class="table-loader">
    <CSkeletonLoader class="table-loader__header">
      <div v-for="item in columnsCount" class="table-loader__item-wrapper">
        <div class="skeleton-loader__item" />
      </div>
    </CSkeletonLoader>
    <div class="table-loader__content">
      <CSkeletonLoader
        v-for="row in getLoaderRowsCount()"
        class="table-loader__row"
      >
        <div
          v-for="item in isMobile ? 1 : columnsCount"
          class="table-loader__item-wrapper"
        >
          <div class="skeleton-loader__item" />
        </div>
      </CSkeletonLoader>
    </div>
  </div>
  <table v-else class="table__content">
    <thead>
      <tr>
        <th v-for="col in columns">
          <CSortingTrigger
            v-if="col.sortable"
            :column="col"
            @sortChange="$attrs.onSortChange"
          />
          <p v-else>{{ col.label }}</p>
        </th>
      </tr>
    </thead>
    <tbody v-if="itemsCount < 1" class="table__empty-content">
      <tr>
        <td>Brak wyników</td>
      </tr>
    </tbody>
    <tbody v-else>
      <tr v-for="item in items">
        <td v-for="col in columns">
          <slot :name="col.value" :itemValue="item[col.value]">
            {{ getItemColumnValue(item[col.value]) }}
          </slot>
        </td>
      </tr>
    </tbody>
  </table>
</div>
