<div class="table-loader">
  <CSkeletonLoader class="table-loader__header">
    <div v-for="item in columnsCount" class="table-loader__item-wrapper">
      <div class="skeleton-loader__item"></div>
    </div>
  </CSkeletonLoader>
  <div class="table-loader__content">
    <CSkeletonLoader v-for="row in loaderRowsCount" class="table-loader__row">
      <div
        v-for="item in isMobile ? 1 : columnsCount"
        class="table-loader__item-wrapper"
      >
        <div class="skeleton-loader__item"></div>
      </div>
    </CSkeletonLoader>
  </div>
</div>
