<div class="ingredients-list">
  <div class="ingredients-list__buttons">
    <CButton
      :label="isMobile ? '' : 'Dodaj składnik'"
      icon="plus"
      variant="text"
      :size="isMobile ? 'large' : 'small'"
      @click="onAddButtonClick"
    />
  </div>
  <CTableWithFilters
    listName="ingredientsList"
    listGetterName="ingredient/ingredientsList"
    listLoadActionName="ingredient/loadIngredientsList"
    listLoadingGetterName="ingredient/isLoadingIngredientsList"
    :defaultFilters="ingredientsListDefaultFilters"
    :columns="ingredientsListColumns"
  >
    <template #editButton="{ item }">
      <CButton
        class="ingredients-list__edit-button"
        color="secondary"
        variant="text"
        icon="pen-to-square"
        v-tooltip="{ text: 'Edytuj ' + item.name }"
        @click="editIngredient(item.id)"
      />
    </template>
  </CTableWithFilters>
</div>
<EditIngedientModal
  v-model:isOpen="isEditModalOpen"
  :ingredientId="editedIngredientId"
/>
