<div class="ingredients-list">
  <CustomizedTable
    listName="ingredientsList"
    storeModuleName="ingredient"
    :defaultFilters="ingredientsListDefaultFilters"
    :columns="ingredientsListColumns"
    :deleteItem="deleteIngredient"
    :isSubmittingItem="isSubmittingIngredient"
    addButtonLabel="Dodaj składnik"
    @editItem="isEditModalOpen = true"
  >
    <template #editModal="{ editedItemId, handleListLoadingProccess }">
      <EditIngedientModal
        v-model:isOpen="isEditModalOpen"
        :ingredientId="editedItemId"
        @success="handleListLoadingProccess"
      />
    </template>
  </CustomizedTable>
</div>
