.top-bar {
  padding: $spacing-lg $spacing-2xl;
  background-color: $surface-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: var(--primary);
    display: flex;
    align-items: center;

    & > svg {
      width: 18px;
    }

    & > p {
      color: $text-lightest;
      font-weight: $font-medium;
      letter-spacing: 2px;
      font-size: $font-xl;
      margin: $spacing-xs 0 0 $spacing-lg;
    }
  }

  &__items {
    list-style: none;
    display: flex;
    gap: $spacing-2xl;
  }

  &__item {
    color: $text-lightest;
    cursor: pointer;
    font-size: $font-xl;
    display: flex;
    align-items: center;

    & > a {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .top-bar {
    padding: $spacing-lg;

    &__logo {
      & > svg {
        width: 16px;
      }

      & > p {
        font-size: $font-lg;
        letter-spacing: 1px;
      }
    }

    &__items {
      gap: $spacing-xl;
    }

    &__item {
      font-size: $font-lg;
    }
  }
}
