$filtersHeightOffset: 92px; //topbar height + paddings

.list-with-filters {
  display: flex;
  height: 100%;
  width: 100%;
  gap: $spacing-4xl;

  &__filters {
    width: 30%;
    height: 100%;
  }

  .filters {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: $spacing-3xl;
      position: sticky;
      top: 0;
      align-self: flex-start;
      height: 100%;
      width: 100%;
      max-height: calc(100vh - $filtersHeightOffset);
      overflow-y: auto;
      padding: 0 $spacing-sm;
      margin-left: (-$spacing-sm);
    }

    &__btns-container {
      display: flex;
      align-items: center;
      gap: $spacing-xl;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
  }

  &__pagination {
    &-top {
      position: sticky;
      z-index: $layer-1;
      top: -($spacing-2xl + $spacing-md);
      overflow: hidden;
      padding: $spacing-md 0;
      margin: -$spacing-xl 0 (-$spacing-md);

      .pagination {
        background-color: var(--surface-primary);
        padding: $spacing-md 0;
        border-bottom: 1px solid var(--border-color);
      }

      .pagination__loader {
        padding: $spacing-md 0;
        margin-bottom: 2px;
      }

      &--sticky {
        .pagination {
          box-shadow: $shadow-xs var(--shadow-color);
        }
      }
    }

    &-bottom {
      padding-top: $spacing-md;
      background-color: var(--surface-primary);
      border-top: 1px solid var(--border-color);
      justify-content: center;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .list-with-filters {
    display: flex;
    align-items: flex-start;
    max-width: 100vw;
    gap: 0;

    &--child-transition {
      overflow: hidden;
    }

    &__filters {
      height: unset;
      min-width: 100%;
      margin: 0;
      padding: 0 $spacing-lg;
      background-color: var(--surface-primary);
    }

    &__content {
      min-width: 100%;
      padding: 0 $spacing-lg;
      background-color: var(--surface-primary);
    }

    &__filters-transition,
    &__content-transition {
      &-enter-active,
      &-leave-active {
        transition: 0.25s ease-in-out;
      }

      &-enter-active {
        position: relative;
        z-index: 1;
      }
    }

    &__filters-transition {
      &-enter-from {
        transform: translateX(-15%);
        opacity: 0;
      }
      &-leave-to {
        transform: translateX(-15%);
        opacity: 0;
      }

      &-enter-to,
      &-leave-from {
        transform: translateX(0%);
        opacity: 1;
      }
    }

    &__content-transition {
      &-enter-from {
        transform: translateX(-85%);
        opacity: 0;
      }
      &-leave-to {
        transform: translateX(-85%);
        opacity: 0;
      }

      &-enter-to,
      &-leave-from {
        transform: translateX(-100%);
        opacity: 1;
      }
    }

    &__toggle-mobile-filters {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      width: 55px;
      height: 55px;
      border-radius: 100%;
      background-color: var(--primary);
      color: $white;
      right: 5px;
      top: 0;
      box-shadow: $shadow-xs var(--shadow-color);
      z-index: $layer-2;
      font-size: 20px;
      transition: transform 0.05s ease-in-out;
    }

    .filters {
      &__wrapper {
        gap: $spacing-xl;
        max-height: unset;
        overflow-y: visible;
        padding: 0;
        margin: 0;
      }

      &__btns-container {
        gap: $spacing-xl;
      }
    }

    &__pagination {
      &-top {
        top: -($spacing-lg + $spacing-md);

        .pagination__loader {
          margin-bottom: 3px;
        }
      }
    }
  }
}

[data-theme="dark"] {
  .list-with-filters {
    &__toggle-mobile-filters {
      color: $text-lightest;
    }
  }
}
