.select-tags-item {
  .tag {
    user-select: none;

    &__checkbox {
      display: none;

      &:checked {
        & + .tag {
          background-color: var(--surface-secondary);
          outline: 2px solid var(--primary);
          outline-offset: -2px;

          .tag__count {
            display: none;
          }

          .tag__times-icon {
            display: flex;
          }
        }
      }
    }

    &__count {
      display: flex;
      align-items: center;
      flex-grow: 1;
      font-size: $font-xs;
      height: 100%;
      margin-left: $spacing-md;
      margin-top: 1px;
      color: var(--text-secondary);
    }

    &__times-icon {
      color: var(--primary);
      display: none;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      margin-left: $spacing-md;
    }
  }
}
