.select-tags {
  .tags:first-child {
    padding-bottom: 20px;

    &:empty {
      display: none;
    }
  }

  .tag {
    user-select: none;

    &__checkbox {
      display: none;

      &:checked + .tag {
        filter: brightness(60%);
      }
    }
  }
}

.dark-mode {
  .select-tags {
    .tag__checkbox:checked + .tag {
      filter: brightness(40%);
    }

    &__empty {
      color: $white;
    }
  }
}
