.select-tags {
  display: grid;
  gap: 15px;

  .tag {
    user-select: none;

    &__checkbox {
      display: none;

      &:checked {
        & + .tag {
          filter: brightness(60%);

          & > span {
            display: none;
          }
        }
      }
    }

    & > span {
      flex-grow: 1;
      font-size: $font-xs;
      height: 100%;
      margin-left: 8px;
    }
  }

  &__empty {
    color: var(--text-primary);
  }
}

[data-theme="dark"] {
  .select-tags {
    .tag__checkbox:checked + .tag {
      filter: brightness(60%);
    }
  }
}
