<div v-if="tags || isLoading" class="select-tags" ref="container">
  <CSkeletonLoader v-if="isLoading" class="select-tags__loader loader">
    <div
      v-for="index in 2"
      class="loader__row"
      :style="getLoaderRowGridTemplateColumns()"
    >
      <div
        v-for="index in getLoaderItemsCount()"
        class="loader__item skeleton-loader__item"
      ></div>
    </div>
    <div class="loader__row" :style="getLoaderRowGridTemplateColumns()">
      <div
        v-for="index in getHalfOfLoaderItemsCount()"
        class="loader__item skeleton-loader__item"
      ></div>
    </div>
  </CSkeletonLoader>
  <CTags v-else-if="tags.length > 0" :tags="tags">
    <template #default="{ tagsArray }">
      <Item
        v-for="tag in sortTags(tagsArray)"
        v-model:selectedTags="_selectedTags"
        :tag="tag"
        :withCounts="withCounts"
      />
    </template>
  </CTags>
  <div v-else class="select-tags__empty">Brak tagów</div>
</div>
