.select-primary-color {
  display: grid;
  gap: $spacing-2xl;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: $screen-md) {
  .select-primary-color {
    gap: $spacing-lg;
    grid-template-columns: repeat(2, 1fr);
  }
}
