<div class="shopping">
  <header class="shopping__header">
    <h1>Zakupy</h1>
  </header>
  <div v-if="!isLoadingShoppingLists" class="shopping__body">
    <CShoppingList :list="activeList" @editList="editList" />
    <SideNav
      :items="shoppingLists"
      v-model:activeListId="activeListId"
      @editList="editList"
      @addList="editList"
    />
  </div>
  <div v-else>loading</div>
</div>
<EditListModal
  v-model:isOpen="isEditListModalOpen"
  :listId="editedListId"
  @success="loadShoppingLists"
/>
