<div class="shopping">
  <header class="shopping__header">
    <h1>Zakupy</h1>
  </header>
  <div class="shopping__body">
    <CShoppingList
      v-if="activeList && !isLoadingShoppingLists"
      :list="activeList"
      @editList="editList"
    />
    <ShoppingLoader v-else />
    <SideNav
      v-model:activeListId="activeListId"
      @editList="editList"
      @addList="editList"
    />
  </div>
</div>
<EditListModal
  v-model:isOpen="isEditListModalOpen"
  :listId="editedListId"
  @success="loadShoppingLists"
/>
