.sorting-trigger {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  max-height: 15px;
  white-space: nowrap;

  &__icons-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
  }

  &__icon {
    color: var(--text-tetriary);
    font-size: 15px;

    &:last-child {
      margin-top: -9px;
    }

    &--active {
      color: var(--text-primary);
    }
  }
}

@media screen and (max-width: $screen-md) {
  .sorting-trigger {
    max-height: 14px;

    &__icon {
      font-size: $font-sm;

      &:last-child {
        margin-top: -9px;
      }
    }
  }
}
