.settings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & > p {
      @include uppercasedSecondaryTextWithBorder;
      width: 100%;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .settings {
    &__content {
      padding: 0 $spacing-lg;
    }
  }
}
