.edit-ingredient-modal {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;

  .units {
    &__header {
      @include uppercasedSecondaryTextWithBorder;
      margin: $spacing-md 0 $spacing-xl;
    }

    &__headings {
      display: flex;
      font-size: $font-2xs;
      color: var(--text-secondary);
      text-transform: uppercase;
      font-weight: $font-bold;
      gap: $spacing-md;
      margin-bottom: $spacing-xs;
      margin-left: 28px;
      width: calc(100% - 78px);

      *:nth-child(1) {
        min-width: 50%;
      }

      *:nth-child(2) {
        min-width: 25%;
      }

      *:nth-child(3) {
        min-width: 25%;
      }
    }

    &__item {
      display: flex;
      gap: $spacing-md;

      *:nth-child(2) {
        min-width: calc((100% - 42px) / 2);
      }

      *:nth-child(3) {
        min-width: calc((100% - 42px) / 4);
      }

      *:nth-child(4) {
        min-width: calc((100% - 42px) / 4);
      }
    }

    .primary-unit-radio-set {
      padding-top: 12px;
    }
  }
}
