.edit-ingredient-modal {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;

  .units {
    &__header {
      @include uppercasedSecondaryTextWithBorder;
      margin: $spacing-md 0 $spacing-xl;
    }

    &__item {
      display: flex;
      gap: $spacing-md;

      *:nth-child(2) {
        min-width: calc((100% - 42px) / 2);
      }

      *:nth-child(3) {
        min-width: calc((100% - 42px) / 4);
      }

      *:nth-child(4) {
        min-width: calc((100% - 42px) / 4);
      }

      .primary-unit-radio-set > label {
        position: relative;
        top: 12px;
      }
    }
  }

  &:deep(.multi-input__item:first-child) {
    .field__label {
      font-size: $font-2xs;
      top: -15px;
    }

    .multi-input__remove-button {
      top: 24px;
    }

    .primary-unit-radio-set > label {
      top: 28px;
    }
  }
}
