<CModal
  v-model:isOpen="_isOpen"
  :title="getTitle()"
  :submitButtonLabel="getSubmitButtonLabel()"
  :isSubmitting="isSubmitting"
  @submit="submit"
>
  <EditIngredientModalLoader v-if="isLoading" />
  <div v-else class="edit-ingredient-modal">
    <CInput v-model="ingredient.name" label="Nazwa składnika" />
    <CAutocomplete
      v-model="ingredient.categoryId"
      :options="categoryOptions"
      label="Kategoria"
    />
    <div class="units">
      <div class="units__header">Jednostki</div>
      <div class="units__headings">
        <p>Nazwa</p>
        <p>Kalorie</p>
        <p>Konwerter</p>
      </div>
      <div class="units__wrapper">
        <CMultiInput
          v-model="ingredient.units"
          :type="MultiInputValuesTypes.OBJECT"
          @itemRemove="onUnitRemove"
        >
          <template #default="{ values, index }">
            <div class="units__item" :key="values[index].id">
              <div class="primary-unit-radio-set">
                <CRadio
                  v-model="selectedPrimaryIndex"
                  name="primary-unit-radio-set"
                  :value="index"
                />
              </div>
              <CAutocomplete
                v-model="values[index].unitId"
                :options="unitOptions"
              />
              <CInput v-model="values[index].kcalPerUnit" type="number" />
              <CInput
                v-model="values[index].converterToPrimary"
                type="number"
                :isDisabled="selectedPrimaryIndex == index"
              />
            </div>
          </template>
        </CMultiInput>
      </div>
    </div>
  </div>
</CModal>
