<CModal
  v-model:isOpen="_isOpen"
  :title="getTitle()"
  :submitButtonLabel="getSubmitButtonLabel()"
  :isSubmitting="isSubmitting"
  @submit="submit"
>
  <div class="edit-ingredient-modal">
    <CInput
      v-model="ingredient.name"
      label="Nazwa składnika"
      :isLoading="isLoading"
    />
    <CAutocomplete
      v-model="ingredient.categoryId"
      :options="categoryOptions"
      :isLoading="isLoading"
      label="Kategoria"
    />
    <CMultiInput
      v-model="ingredient.units"
      :isLoading="isLoading"
      label="Jednostki"
      :type="MultiInputValuesTypes.OBJECT"
    >
      <template #default="{ values, index }">
        <CAutocomplete v-model="values[index].unitId" :options="unitOptions" />
        <CInput v-model="values[index].kcalPerUnit" type="number" />
        <CInput v-model="values[index].converterToPrimary" type="number" />
      </template>
    </CMultiInput>
  </div>
</CModal>
