.ingredients-fields {
  position: relative;
  padding-top: 1px;

  &__item {
    display: grid;
    gap: $spacing-md;
    grid-template-columns: 45% 1fr 1fr;
  }

  &:deep(.multi-input__item:first-child) {
    .field.field--with-label .field__label {
      opacity: 1;
    }

    .multi-input__remove-button {
      top: 24px;
    }
  }

  &__loader {
    display: grid;
    gap: $spacing-md;
    grid-template-columns: 45% 1fr 1fr;
    margin-bottom: $spacing-sm;
    height: unset;
    margin-right: 42px;

    .skeleton-loader__item {
      height: 14px;
      width: 80%;
    }
  }
}
