.ingredients-fields {
  &__item {
    display: grid;
    gap: $spacing-md;
    grid-template-columns: 45% 1fr 1fr;
  }

  &:deep(.multi-input__item:first-child) {
    .multi-input__remove-button {
      top: 24px;
    }
  }
}
