<div class="ingredients-fields">
  <CMultiInput
    v-model="recipeIngredients"
    :type="MultiInputValuesTypes.OBJECT"
    @itemRemove="onIngredientRemove"
    :itemsKey="multiInputKey"
  >
    <template #default="{ values, index, handleAddingItem }">
      <div class="ingredients-fields__item item" :key="values[index].id">
        <CAutocomplete
          v-model="values[index].ingredientId"
          :options="ingredientsOptions"
          :label="index === 0 ? 'Składnik' : ''"
          class="item__ingredient-autocomplete"
          @update:modelValue="setIngredient(values[index].ingredientId, index)"
          :enableSetSelectedWhenInputMatchAnyOption="false"
          isRequired
        />
        <CAutocomplete
          v-model="values[index].unitId"
          :options="getIngredientUnitOptions(index)"
          :label="index === 0 ? 'Jednostka' : ''"
          :isLoading="isLoadingUnits[index]"
          class="item__units-autocomplete"
          @update:modelValue="onUnitUpdate(index, values[index].unitId)"
          :enableSetSelectedWhenInputMatchAnyOption="false"
          :isDisabled="getIngredientUnitOptions(index).length === 1"
          :key="unitAutocompleteKeys[index]"
          isRequired
        />
        <CInput
          v-model="values[index].amount"
          type="number"
          :label="index === 0 ? 'Ilość' : ''"
          class="item__amount-input"
          @enter="handleAddingItem"
          isRequired
        />
      </div>
    </template>
  </CMultiInput>
  <CLoader
    v-if="isLoadingIngredients || isLoading"
    :circleHeight="32"
    :circleWidth="32"
    withOverlay
  />
</div>
