.toast-notification {
  margin-bottom: 10px;

  &__wrapper {
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: $shadow-lg var(--shadow-color);
    background-color: var(--surface-primary);
    display: flex;
    gap: 15px;
  }

  &--success {
    border-color: $success;

    .toast-notification__action {
      color: $success;
    }
  }

  &--error {
    border-color: $error;

    .toast-notification__action {
      color: $error;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__body {
    padding: 4px 0;
  }

  &__message {
    display: inline;
    margin-right: 5px;
  }

  &__action {
    font-size: $font-base;
    display: inline;
    background-color: transparent;
    border: 0;
    font-weight: 600;
    cursor: pointer;
  }

  &__remove-button {
    margin-left: auto;
  }
}
