.toast-notification {
  margin-bottom: $spacing-lg;

  &__wrapper {
    padding: $spacing-lg $spacing-md;
    border: 2px solid transparent;
    border-radius: $radius-sm;
    box-shadow: $shadow-lg var(--shadow-color);
    background-color: var(--surface-primary);
    display: flex;
    gap: $spacing-md;
  }

  &--success {
    border-color: $success;

    .toast-notification__action {
      color: $success;
    }
  }

  &--error {
    border-color: $error;

    .toast-notification__action {
      color: $error;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    padding: 0 $spacing-sm;
  }

  &__body {
    padding: $spacing-xs 0;
  }

  &__message {
    display: inline;
    margin-right: $spacing-sm;
  }

  &__action {
    font-size: $font-base;
    display: inline;
    background-color: transparent;
    border: 0;
    font-weight: $font-bold;
    cursor: pointer;
  }

  &__remove-button {
    margin-left: auto;
  }
}
