<div class="recipe-ingredients">
  <div class="recipe-ingredients__header">
    <h2>Składniki</h2>
    <div v-if="isEditing" class="recipe-ingredients__buttons">
      <CButton
        color="secondary"
        variant="text"
        onlyIcon
        icon="check"
        :isLoading="isUpdatingIngredients"
        @click="updateIngredients"
      />
      <CButton
        color="secondary"
        variant="text"
        onlyIcon
        icon="times"
        :isLoading="isUpdatingIngredients"
        @click="cancelEditing"
      />
    </div>
    <CButton
      v-else
      color="secondary"
      icon="pen-to-square"
      variant="text"
      onlyIcon
      :isLoading="isLoadingIngredients"
      @click="startEditing"
    />
    <CSetPortions v-model="portions" />
  </div>
  <template v-if="!isLoadingIngredients">
    <template v-if="!isEditing">
      <div class="recipe-ingredients__content">
        <div class="recipe-ingredients__item" v-for="ingredient in ingredients">
          <p>{{ ingredient.ingredientName }}</p>
          <p>{{ ingredient.amount * portions }} {{ingredient.unitShortcut}}</p>
        </div>
      </div>
    </template>
    <div v-else class="edit-recipe-ingredients">
      <RecipeIngredientsFields v-model="ingredients" />
      <CLoader
        v-if="isUpdatingIngredients"
        :circleHeight="32"
        :circleWidth="32"
        withOverlay
      />
    </div>
  </template>
  <RecipeIngredientsLoader v-else />
</div>
