.dark-mode-toggle {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15.5px;
  left: 15.5px;

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: $primary-light;
    box-shadow: $shadow-lg;
    font-size: 22px;
    color: $secondary-dark-30;
    transition: all 0.2s ease-in-out;
    margin-right: 26px;
  }
}

.dark-mode {
  .dark-mode-toggle {
    &__icon {
      background-color: $secondary-dark-20;
      color: $primary-light;
      box-shadow: $shadow-lg-dark;
    }
  }
}
