.tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;

  &:deep(.tag) {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    margin-right: 8px;
    background-color: $secondary-light-50;
    box-shadow: $shadow-xs;
    font-weight: 500;
    font-size: $font-sm;
    border-radius: 12px;
    transition: 0.05s ease-in-out;
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }

    svg {
      margin-right: 6px;
    }

    &.tag--leaf {
      color: $success;
      background-color: $success-light;
    }

    &.tag--fire {
      color: #ff1100;
      background-color: #ffdda9;
    }

    &.tag--clock {
      color: $info;
      background-color: $info-light;
    }
  }
}

.dark-mode {
  .tags {
    &:deep(.tag) {
      color: $white;
      background-color: $secondary-dark-20;
      box-shadow: $shadow-sm-dark;

      &.tag--leaf {
        color: $success-light;
        background-color: $success;
      }

      &.tag--fire {
        color: #ffdda9;
        background-color: #ff1100;
      }

      &.tag--clock {
        color: $info-light;
        background-color: $info;
      }
    }
  }
}
