.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &:deep(.tag) {
    display: inline-flex;
    align-items: center;
    padding: 5px 12px;
    background-color: $secondary-light-55;
    border: 1px solid $secondary-light-50;
    font-weight: 500;
    font-size: $font-sm;
    border-radius: 15px;
    transition: filter 0.05s ease-in-out;
    cursor: pointer;

    &:hover {
      filter: brightness(95%);
    }

    svg {
      margin-right: 6px;
    }
  }

  &__empty {
    margin-top: -2px;
    padding: 0 2px 12px;
  }

  &-loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__row {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      gap: 8px;
    }

    &__item {
      padding: 0;
      height: 29px;
      border-radius: 15px;
      width: 100%;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .tags-loader__row {
    &:last-child {
      .tags-loader__item {
        width: 88px;
      }
    }
  }
}

.dark-mode {
  .tags {
    &:deep(.tag) {
      color: $white;
      background-color: $secondary-dark-20;
      border-color: $secondary-dark-15;

      &:hover {
        filter: brightness(120%);
      }
    }

    &__empty {
      color: $white;
    }
  }
}
