.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &:deep(.tag) {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    background-color: $secondary-light-50;
    box-shadow: $shadow-xs;
    font-weight: 500;
    font-size: $font-sm;
    border-radius: 12px;
    transition: filter 0.05s ease-in-out;
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }

    svg {
      margin-right: 6px;
    }

    &.tag--leaf {
      color: $success;
      background-color: $success-light;
    }

    &.tag--fire {
      color: #e70f00;
      background-color: #ffdda9;
    }

    &.tag--bell-concierge {
      color: $info;
      background-color: $info-light;
    }

    &.tag--utensils {
      color: #990000;
      background-color: #ffd0d0;
    }

    &.tag--mug-saucer {
      color: #6b3400;
      background-color: #ffd9b5;
    }

    &.tag--clock {
      color: #aa8200;
      background-color: #fff8bb;
    }
  }

  &__empty {
    margin-top: -2px;
    padding: 0 2px 12px;
  }

  &-loader {
    width: 100%;
    display: flex;
    gap: 8px;

    &__item {
      padding: 0;
      height: 29px;
      border-radius: 12px;
    }
  }
}

.dark-mode {
  .tags {
    &:deep(.tag) {
      color: $white;
      background-color: $secondary-dark-20;
      box-shadow: $shadow-sm-dark;
    }
  }
}
