<div v-if="areTagsVisible()" class="tags" ref="container">
  <CSkeletonLoader v-if="isLoading" class="tags-loader">
    <div class="tags-loader__row">
      <div
        v-for="index in getFirstRowLoaderItemsCount()"
        class="tags-loader__item skeleton-loader__item"
      />
    </div>
    <div class="tags-loader__row">
      <div
        v-for="index in getSecondRowLoaderItemsCount()"
        class="tags-loader__item skeleton-loader__item"
      />
    </div>
  </CSkeletonLoader>
  <slot
    v-else
    :tagsArray="getTagsArrayBasedOnType()"
    :getTagColorStyles="getTagColorStyles"
  ></slot>
</div>
