<div class="tags" ref="container">
  <div v-if="isLoading" class="tags-loader">
    <div class="tags-loader__row">
      <CSkeletonLoader
        v-for="index in getFirstRowLoaderItemsCount()"
        class="tags-loader__item"
      />
    </div>
    <div class="tags-loader__row">
      <CSkeletonLoader
        v-for="index in getSecondRowLoaderItemsCount()"
        class="tags-loader__item"
      />
    </div>
  </div>
  <slot
    v-else
    :tagsArray="tagsArray"
    :getTagColorStyles="getTagColorStyles"
    :customizedTags="customizedTags"
    :defaultTags="defaultTags"
  ></slot>
</div>
