.recipe-details {
  display: flex;
  flex-direction: column;
  gap: $spacing-4xl;
  width: 100%;

  &__section {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: $spacing-4xl;
  }
}

@media screen and (max-width: $screen-md) {
  .recipe-details {
    padding: 0 $spacing-lg;
    gap: $spacing-3xl;

    &__section {
      display: grid;
      grid-template-columns: 1fr;
      gap: $spacing-3xl;
    }
  }
}
