<div class="select-members">
  <CSkeletonLoader v-if="isLoading" class="select-members__loader">
    <div v-for="index in 5" class="skeleton-loader__item"></div>
  </CSkeletonLoader>
  <CMembers v-else :members="members">
    <template #default="{ label, backgroundColor, member }">
      <div
        class="select-members__item"
        v-tooltip="{ text: member.name, delay: 1500 }"
      >
        <input
          v-model="_selectedMembers"
          :id="getItemId(member.id)"
          type="checkbox"
          :value="member.id"
        />
        <label
          :for="getItemId(member.id)"
          :style="{ backgroundColor }"
          class="item"
        >
          {{ label }}
        </label>
      </div>
    </template>
  </CMembers>
</div>
