.select-shopping-list {
  display: grid;
  gap: $spacing-lg;

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-lg;
    padding: $spacing-lg $spacing-md $spacing-lg $spacing-xl;
    @include outlinedClickableTile;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 25px;

      > p {
        font-size: $font-lg;
        font-weight: $font-medium;
      }

      > div {
        display: flex;
        gap: $spacing-2xs;
      }
    }

    &__amount {
      font-size: $font-sm;
      color: var(--text-secondary);
    }

    &:hover:not(.item--active) {
      @include outlinedClickableTileHover;
    }

    &--active {
      @include outlinedClickableTileActive;
    }
  }
}
