.select-shopping-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    padding: $spacing-lg $spacing-md $spacing-lg $spacing-xl;
    @include outlinedClickableTile;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 25px;
    }

    &__buttons {
      display: flex;
      gap: $spacing-2xs;
    }

    &__name {
      display: flex;
      align-items: center;
      gap: $spacing-sm;
      font-size: $font-lg;
      font-weight: $font-medium;
    }

    &__amount {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $spacing-2xs $spacing-md - 1;
      color: var(--text-secondary);
      background-color: rgba(var(--text-primary-rgb), 0.1);
      font-size: $font-sm;
      border-radius: $radius-xl;

      &--empty {
        opacity: 0.5;
        color: var(--text-tetriary);
      }
    }

    &__recipe-names {
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;
      padding-left: 1px;

      > li {
        display: flex;
        gap: $spacing-md;
        font-size: $font-sm;
        color: var(--text-secondary);

        > svg {
          font-size: $font-xs;
          color: var(--text-tetriary);
          margin-top: 2px;
        }
      }
    }

    &:hover:not(.item--active) {
      @include outlinedClickableTileHover;
    }

    &--active {
      @include outlinedClickableTileActive;
    }
  }
}
