<div
  v-if="!isLoadingLists"
  class="select-shopping-list"
  :class="'select-shopping-list--' + size"
  :style="`grid-template-columns: repeat(${columns}, 1fr)`"
>
  <div
    v-for="list in lists"
    class="select-shopping-list__item item"
    :class="{ 'item--active': isListActive(list.id) }"
    @click="activeListId = list.id"
  >
    <div class="item__header">
      <p class="item__name">{{ list.name }}</p>
      <div>
        <CButton
          v-if="!disableEdit"
          color="secondary"
          variant="text"
          :size="isMobile ? 'medium' : 'small'"
          icon="edit"
          @click.stop="emits('editList', list.id)"
        />
        <CButton
          v-if="!disableDelete"
          color="error"
          variant="text"
          :size="isMobile ? 'medium' : 'small'"
          icon="ban"
          @click.stop="clearList(list.id)"
          :isLoading="isClearingList[list.id]"
        />
      </div>
    </div>
    <p v-if="list.count === 0" class="item__amount">pusto!</p>
    <p v-else class="item__amount">
      Produkty na liście: <strong>{{ list.count }}</strong>
    </p>
    <ul
      v-if="columns === 1 && list.recipeIds.length > 0"
      class="item__recipe-names"
    >
      <li v-for="recipeId in list.recipeIds">
        <FontAwesomeIcon icon="chevron-right" />
        {{ getRecipeName(recipeId) }}
      </li>
    </ul>
  </div>
</div>
<SelectShoppingListLoader v-else :columns="columns" />
