<div v-if="!isLoadingLists" class="select-shopping-list">
  <div
    v-for="list in lists"
    class="select-shopping-list__item item"
    :class="{ 'item--active': isListActive(list.id) }"
    @click="activeListId = list.id"
  >
    <div class="item__header">
      <div class="item__name">
        <p>{{ list.name }}</p>
        <span
          class="item__amount"
          :class="{'item__amount--empty': isListEmpty(list)}"
        >
          {{ list.count }}
        </span>
      </div>
      <div class="item__buttons">
        <CButton
          v-if="!disableEdit"
          color="secondary"
          variant="text"
          :size="isMobile ? 'medium' : 'small'"
          icon="edit"
          @click.stop="emits('editList', list.id)"
        />
        <CButton
          v-if="!disableDelete"
          color="error"
          variant="text"
          :size="isMobile ? 'medium' : 'small'"
          icon="ban"
          @click.stop="clearList(list.id)"
          :isLoading="isClearingList[list.id]"
          :isDisabled="isListEmpty(list)"
        />
      </div>
    </div>
    <ul v-if="hasRecipes(list)" class="item__recipe-names">
      <li v-for="recipeId in list.recipeIds">
        <FontAwesomeIcon icon="chevron-right" />
        {{ getRecipeName(recipeId) }}
      </li>
    </ul>
  </div>
</div>
<SelectShoppingListLoader v-else />
