.select-tags {
  display: grid;
  gap: $spacing-xl;

  &__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: $spacing-sm;
    column-gap: $spacing-xs;
  }

  &__empty {
    color: var(--text-primary);
  }
}

@media screen and (max-width: $screen-md) {
  .select-tags {
    gap: $spacing-lg;
  }
}
