<div v-if="tags || isLoading" class="select-tags" ref="container">
  <CInput
    class="select-tags__input"
    v-model="searchPhrase"
    :icon="inputIcon"
    placeholder="Wyszukaj tag"
    :isLoading="isLoading"
    label="Tagi"
  />
  <Loader v-if="isLoading" :containerWidth="container?.clientWidth" />
  <div v-else-if="tags.length > 0" class="select-tags__items">
    <Item
      v-for="tag in getPreparedTags(_tags)"
      v-model:selectedTags="_selectedTags"
      :tag="tag"
      :withCounts="withCounts"
      :id="$attrs.id"
    />
  </div>
  <div v-else class="select-tags__empty">Brak tagów</div>
</div>
