.item-header {
  &__food-name {
    font-size: $font-xl;
    font-weight: $font-medium;
    line-height: 100%;
  }

  &__buttons {
    display: flex;
    gap: $spacing-sm;
    margin-top: -$spacing-xs;
  }
}

@media screen and (max-width: $screen-md) {
  .item-header {
    &__buttons {
      margin-top: -$spacing-2xs;

      & > button {
        font-size: $font-lg;
      }
    }

    &__food-name {
      font-size: $font-lg;
    }
  }
}
