.item-header {
  &__food-name {
    font-size: $font-xl;
    font-weight: $font-medium;
    line-height: 100%;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    gap: $spacing-2xs;
    margin-top: -$spacing-sm;
  }
}

@media screen and (max-width: $screen-md) {
  .item-header {
    &__buttons {
      margin-top: -7px;
    }

    &__food-name {
      font-size: $font-lg;
    }
  }
}
