$sectionPadding: 0 $spacing-2xl;
$mobileSectionPadding: 0 $spacing-xl;
$sectionHeight: 70px;
$mobileSectionHeight: 60px;

.modal {
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $overlay-color;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: $layer-3;
  }

  &__container {
    background-color: var(--surface-primary);
    border-radius: $radius-md;
    position: relative;
    box-shadow: $shadow-md var(--shadow-color);
    margin: 75px $spacing-lg 0;
    transition: 0.2s ease-in-out;
    min-width: 450px;
    max-width: 450px;
  }

  &__loader {
    border-radius: $radius-md;
  }

  &__header {
    height: $sectionHeight;
    padding: $sectionPadding;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > p {
      font-size: $font-lg;
      font-weight: $font-bold;
    }
  }

  &__body {
    padding: $spacing-2xl;
  }

  &__footer {
    height: $sectionHeight;
    padding: $sectionPadding;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $spacing-lg;
  }

  &__transition {
    &-enter-active,
    &-leave-active {
      transition: 0.2s ease-in-out;
    }

    &-leave-to,
    &-enter-from {
      opacity: 0;

      .modal__container {
        transform: translateY(-30px);
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .modal {
    &__container {
      margin: $spacing-lg $spacing-lg 0;
      min-width: calc(100vw - 20px);
    }

    &__header {
      padding: $mobileSectionPadding;
      height: $mobileSectionHeight;
    }

    &__body {
      padding: $spacing-xl;
    }

    &__footer {
      padding: $mobileSectionPadding;
      height: $sectionHeight;
    }
  }
}
