$sectionPadding: 15px 20px;
$mobileSectionPadding: 10px 15px;

.modal {
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 0.5);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: $layer-4;
  }

  &__container {
    background-color: var(--surface-primary);
    border-radius: $radius-md;
    position: relative;
    box-shadow: $shadow-md var(--shadow-color);
    margin: 30px 10px 0;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    min-width: 450px;
    max-width: 450px;
  }

  &__header {
    padding: $sectionPadding;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > p {
      font-size: $font-lg;
      font-weight: $font-medium;
    }
  }

  &__body {
    padding: $sectionPadding;
  }

  &__footer {
    padding: $sectionPadding;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: flex-end;
  }

  &__transition {
    &-enter-active,
    &-leave-active {
      transition: 0.2s ease-in-out;
    }

    &-leave-to,
    &-enter-from {
      opacity: 0;

      .modal__container {
        transform: translateY(-30px);
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .modal {
    &__container {
      margin: 10px 10px 0;
      min-width: calc(100vw - 20px);
    }

    &__header {
      padding: $mobileSectionPadding;
    }

    &__body {
      padding: $mobileSectionPadding;
    }

    &__footer {
      padding: $mobileSectionPadding;
    }
  }
}
