<Teleport to="body">
  <transition name="modal__transition">
    <div v-if="_isOpen" class="modal modal__overlay">
      <component
        :is="containerElement"
        class="modal__container"
        @submit.prevent="onSubmit"
        :novalidate="isContainerForm() ? true : null"
      >
        <CLoader
          v-if="isSubmitting"
          class="modal__loader"
          :circleHeight="40"
          :circleWidth="40"
          withOverlay
        />
        <div class="modal__header">
          <p>{{ title }}</p>
          <CButton
            type="button"
            color="secondary"
            variant="text"
            icon="times"
            size="large"
            @click="closeModal"
          />
        </div>
        <div class="modal__body">
          <slot></slot>
        </div>
        <div class="modal__footer">
          <CButton
            :label="submitButtonLabel"
            v-on="!isContainerForm() ? { click: onSubmit } : {}"
            :isDisabled="isSubmitButtonDisabled"
          />
        </div>
      </component>
    </div>
  </transition>
</Teleport>
