.topbar {
  padding: 12px 20px;
  background-color: $surface-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: var(--primary);
    display: flex;
    align-items: center;

    & > svg {
      width: 18px;
    }

    & > p {
      color: $text-lightest;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: $font-xl;
      margin: 3px 0 0 10px;
    }
  }

  &__items {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  &__item {
    color: $text-lightest;
    cursor: pointer;
    font-size: $font-xl;
    display: flex;
    align-items: center;

    & > a {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .topbar {
    padding: 10px;

    &__logo {
      & > svg {
        width: 16px;
      }

      & > p {
        font-size: $font-lg;
        letter-spacing: 1px;
      }
    }

    &__items {
      gap: 15px;
    }

    &__item {
      font-size: $font-lg;
    }
  }
}
