<div class="topbar">
  <div class="topbar__logo">
    <InlineSvg :src="require('@/assets/icons/logo.svg')" />
    <p>foodtracker</p>
  </div>
  <ul class="topbar__items">
    <li class="topbar__item item">
      <RouterLink
        to="/settings"
        class="item__link"
        activeClass="item__link--active"
        exactActiveClass="item__link--exact-active"
      >
        <FontAwesomeIcon icon="gear" />
      </RouterLink>
    </li>
    <li class="topbar__item item">
      <FontAwesomeIcon icon="bell" />
    </li>
  </ul>
</div>
