.shopping-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 20px;

  &:deep(.checkbox) {
    width: 100%;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: $spacing-xl;
    width: 100%;
  }

  &__amount-wrapper {
    display: flex;
    align-items: center;
    gap: $spacing-xl;
    margin-left: auto;
  }

  &__amount {
    display: flex;
    align-items: flex-end;
    gap: $spacing-sm;

    > span:last-child {
      font-size: $font-sm;
    }
  }

  &--disabled {
    pointer-events: none;
  }

  &--crossed-out {
    opacity: 0.5;

    > * {
      text-decoration: line-through;
    }
  }
}
