<div
  class="shopping-item"
  :key="getItemKey(item)"
  :class="{ 
    'shopping-item--crossed-out': isCrossedOut,
    'shopping-item--disabled': isDisabled 
  }"
>
  <CCheckbox v-model="item.isChecked" @update:modelValue="handleChecking">
    <template #label>
      <div class="shopping-item__label">
        <p>{{ getItemName(item) }}</p>
        <div class="shopping-item__amount-wrapper">
          <div v-if="item.amount" class="shopping-item__amount">
            <span>{{ item.amount }}</span>
            <span>{{ item.unitShortcut }}</span>
          </div>
          <CButtonWithDropdown
            v-if="!disableActions"
            :options="options"
            icon="ellipsis-vertical"
            variant="text"
            color="secondary"
            :isLoading="isDeletingItem"
          />
        </div>
      </div>
    </template>
  </CCheckbox>
</div>
