.recipes-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    flex-grow: 1;
    display: flex;
  }

  .item {
    &__row {
      display: flex;
      align-items: center;

      &:nth-child(2) {
        gap: 20px;
        margin: 4px 0 18px 2px;
      }
    }

    &__preparation-time {
      font-size: $font-sm;
      font-weight: 500;
      display: flex;
      gap: 5px;
      color: var(--text-tetriary);

      & > svg {
        margin-top: 1px;
      }
    }

    &__recipe-name {
      font-size: $font-xl;
      font-weight: 500;
      color: var(--text-primary);
    }

    &__cooked-date {
      display: flex;
      justify-content: space-between;
      gap: 4px;

      & > span {
        width: 8px;
        height: 8px;
        background-color: var(--primary);
        border-radius: 100%;
      }
    }

    &__cookidoo-link {
      color: var(--text-primary);
      min-width: 18px;
      border-radius: 4px;

      &:hover {
        background-color: var(--surface-tetriary);
      }
    }

    &__buttons {
      display: flex;
      position: absolute;
      top: 10px;
      right: 10px;
      gap: 5px;

      & > button,
      & > a {
        font-size: $font-base;
        padding: 6px 8px;
      }
    }
  }

  &__navigation {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: $screen-md) {
  .recipes-list {
    .item {
      &__recipe-name {
        font-size: $font-lg;
      }

      &__preparation-time {
        font-size: $font-xs;
      }

      &__buttons {
        & > button {
          font-size: $font-lg;
        }
      }
    }

    &__navigation {
      margin-bottom: 10px;
    }
  }
}
