<div class="recipes-list">
  <header class="recipes-list__header">
    <h1>Lista przepisów</h1>
    <CButton label="Dodaj" icon="plus" size="small" />
  </header>
  <CHorizontalTabs
    class="recipes-list__navigation"
    :items="tabs"
    v-model="selectedTab"
    :fullWidth="isMobile"
  />
  <main class="recipes-list__content">
    <CListWithFilters
      :defaultFilters="recipesListDefaultFilters"
      listName="recipesList"
      listGetterName="recipe/getRecipesList"
      listLoadActionName="recipe/loadRecipesList"
      listLoadingGetterName="recipe/isLoadingRecipesList"
      tagsGetterName="recipe/getRecipesTags"
      tagsLoadActionName="recipe/loadRecipesTags"
      tagsLoadingGetterName="recipe/isLoadingRecipesTags"
      suggestionsGetterName="recipe/getRecipesSearchSuggestions"
      suggestionsLoadActionName="recipe/loadRecipesSearchSuggestions"
      suggestionsLoadingGetterName="recipe/isLoadingRecipesSearchSuggestions"
    >
      <template v-slot:default="{ item, addTagAndFilter }">
        <div class="recipes-list__item item">
          <div class="item__row">
            <p class="item__recipe-name">{{ item.recipeName }}</p>
          </div>
          <div class="item__row">
            <div class="item__preparation-time">
              <FontAwesomeIcon :icon="['far', 'clock']" />
              <p>{{ item.preparationTime }} min</p>
            </div>
            <div v-if="false" class="item__cooked-date">
              <span v-for="index in 5"></span>
            </div>
          </div>
          <CDisplayTags :tags="item.tags" @click="addTagAndFilter" />
          <CButton
            color="secondary"
            label=""
            variant="text"
            size="small"
            icon="ellipsis-vertical"
            class="item__menu"
          />
          <CLink
            v-if="item.cookidooLink"
            :href="item.cookidooLink"
            class="item__cookidoo-link"
            label=""
            external
          >
            <InlineSvg :src="require('@/assets/icons/thermomix.svg')" />
          </CLink>
        </div>
      </template>
    </CListWithFilters>
  </main>
</div>
