<div class="recipes-list">
  <header class="recipes-list__header">
    <h1>Lista przepisów</h1>
  </header>
  <CListWithFilters
    :items="list?.data"
    :columns="recipesListColumns"
    :isLoading="isLoadingList || isLoadingAvailableTags"
    :searchPhrase="filters.searchPhrase"
    @update:searchPhrase="filterBySearchPhrase"
    :availableTags="availableTags"
    :selectedTags="filters.tags"
    @update:selectedTags="filterByTags"
    :paginationData="list?.pagination"
    :currentPage="filters.currentPage"
    @update:currentPage="changeCurrentPage"
    @clearFilters="clearListFilters"
    :currentSort="currentSort"
    @sortChange="filterBySort"
  >
    <template v-slot:tags="{ itemValue }">
      <CDisplayTags :tags="itemValue" @click="addTagAndFilter" />
    </template>
  </CListWithFilters>
</div>
