.weekly-date-picker {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-md;

  &__item {
    > input {
      display: none;
    }

    > label {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: $spacing-2xl $spacing-lg;
      width: 100%;
      gap: $spacing-lg;
      @include outlinedClickableTile;

      & > p:first-child {
        font-size: $font-xl;
      }

      & > p:last-child {
        @include uppercasedSecondaryText;
      }

      &:hover {
        @include outlinedClickableTileHover;
      }
    }

    > input:checked + label {
      @include outlinedClickableTileActive;
    }

    &--today {
      > label {
        border-color: var(--primary) !important;
      }
    }
  }
}
