.logo {
  margin: 25px;
  height: 30px;
  user-select: none;

  &__svg {
    transition: transform 0.2s ease-in-out;
    height: 30px;
  }

  &__line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    transition: all 0.2s ease-in-out;
  }

  .logo__text1,
  .logo__text2,
  .logo__text3,
  .logo__text4 {
    will-change: transform;
    backface-visibility: hidden;
    transition: all 0.2s ease-in-out;
  }

  &.logo--collapsed {
    .logo__text1 {
      transform: translateX(-12px);
    }

    .logo__text3 {
      transform: translateX(-276px);
    }

    .logo__text2,
    .logo__text4 {
      opacity: 0;
    }

    .logo__line {
      stroke-dashoffset: 903;
    }

    .logo__svg {
      transform: translateX(-4px);
    }
  }
}

@media screen and (max-width: $screen-md) {
  .logo {
    margin: 15px 25px;
  }
}
