.logo {
  margin: 25px 22px;
  height: 28px;
  user-select: none;

  &__svg {
    transition: transform 0.2s ease-in-out;
    height: 28px;
  }

  &__line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    transition: all 0.2s ease-in-out;
  }

  .logo__text2,
  .logo__text3,
  .logo__text4 {
    will-change: transform;
    backface-visibility: hidden;
  }

  .logo__text3 {
    transition: transform 0.2s ease-in-out;
  }

  .logo__text2,
  .logo__text4 {
    transition: opacity 0.2s 0.1s ease-in-out;
  }

  &.logo--collapsed {
    .logo__text3 {
      transform: translateX(-265px);
    }

    .logo__text2,
    .logo__text4 {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    .logo__line {
      stroke-dashoffset: 903;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .logo {
    margin: 10px;
  }
}
