.sorting-trigger {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  max-height: 17px;

  &__icons-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
    position: relative;
    top: -1px;
  }

  &__icon {
    color: $secondary-light-30;
    font-size: $font-base;

    &:last-child {
      margin-top: -10px;
    }

    &--active {
      color: $secondary-dark-10;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .sorting-trigger {
    max-height: 14px;

    &__icon {
      font-size: $font-sm;

      &:last-child {
        margin-top: -9px;
      }
    }
  }
}
