@function toRGB($color) {
  @return red($color) + ", " + green($color) + ", " + blue($color);
}

:root,
*:after,
*:before {
  --primary: #{$primary};
  --primary-rgb: #{toRGB($primary)};
  --primary-light: #{$primary-light};
  --primary-dark: #{$primary-dark};

  --surface-primary: #{$surface-lightest};
  --surface-primary-rgb: #{toRGB($surface-lightest)};
  --surface-secondary: #{$surface-lighter};
  --surface-secondary-rgb: #{toRGB($surface-lighter)};
  --surface-tetriary: #{$surface-light};

  --border-color: #{$border-light};
  --border-secondary: #{$border-lighter};

  --text-primary: #{$text-darkest};
  --text-primary-rgb: #{toRGB($text-darkest)};
  --text-secondary: #{$text-darker};
  --text-tetriary: #{$text-dark};

  --shadow-color: #{$shadow-light};

  --error-primary: #{$error};
  --error-secondary: #{$error-light};

  --success-primary: #{$success};
  --success-secondary: #{$success-light};

  --text-button-hover-background: #{$text-button-hover-background-light};
  --text-button-active-background: #{$text-button-active-background-light};
}

[data-theme="dark"] {
  &:root,
  *:after,
  *:before {
    --surface-primary: #{$surface-darkest};
    --surface-primary-rgb: #{toRGB($surface-darkest)};
    --surface-secondary: #{$surface-darker};
    --surface-secondary-rgb: #{toRGB($surface-darker)};
    --surface-tetriary: #{$surface-dark};

    --border-color: #{$border-dark};
    --border-secondary: #{$border-darker};

    --text-primary: #{$text-lightest};
    --text-primary-rgb: #{toRGB($text-lightest)};
    --text-secondary: #{$text-lighter};
    --text-tetriary: #{$text-light};

    --shadow-color: #{$shadow-dark};

    --error-primary: #{$error-light};
    --error-secondary: #{$error};

    --success-primary: #{$success-light};
    --success-secondary: #{$success};

    --text-button-hover-background: #{$text-button-hover-background-dark};
    --text-button-active-background: #{$text-button-active-background-dark};
  }
}
