$primary: #eb8500;
$primary-light: #ffe675;
$primary-dark: #ff5e00;

$secondary: #555b66;

$white: white;
$black: black;

$surface-lightest: $white;
$surface-lighter: lighten($secondary, 60);
$surface-light: lighten($secondary, 57);
$border-light: lighten($secondary, 52);

$text-darkest: darken($secondary, 30);
$text-darker: $secondary;
$text-dark: lighten($secondary, 40);

$surface-darkest: darken($secondary, 26);
$surface-darker: darken($secondary, 22);
$surface-dark: darken($secondary, 18);
$border-dark: darken($secondary, 14);

$text-lightest: lighten($secondary, 55);
$text-lighter: lighten($secondary, 35);
$text-light: $secondary;

$info: #003780;
$info-light: #bfe5f2;
$success: #27a14a;
$success-light: #acffc2;
$success-dark: #014613;
$warning: #fec90b;
$warning-light: #fdff8c;
$error: #cc0000;
$error-light: #ffcece;
$error-dark: #3a0000;
$overlay-color: rgba($black, 0.5);

$font-2xs: 11px;
$font-xs: 12px;
$font-sm: 14px;
$font-base: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 24px;
$font-3xl: 28px;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 600;

$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-color: rgba(0, 0, 0, 0.16);
$shadow-dark: rgba(0, 0, 0, 0.5);

$shadow-xs: 0 2px 4px 0;
$shadow-sm: 0 2px 6px 0;
$shadow-md: 0 3px 8px 0;
$shadow-lg: 0 4px 10px 0;

$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;
$screen-2xl: 1500px;

$layer-1: 10; //input, skeleton-loader
$layer-2: 20; //filters-button
$layer-3: 30; //modal
$layer-4: 40; //dropdown, bottom bar
$layer-5: 50; //toast notification, tooltip,

$radius-2xs: 2px;
$radius-xs: 3px;
$radius-sm: 4px;
$radius-md: 5px;
$radius-lg: 6px;
$radius-xl: 10px;
$radius-2xl: 15px;

$spacing-2xs: 2px;
$spacing-xs: 4px;
$spacing-sm: 6px;
$spacing-md: 8px;
$spacing-lg: 12px;
$spacing-xl: 16px;
$spacing-2xl: 20px;
$spacing-3xl: 25px;
$spacing-4xl: 30px;

$text-button-hover-background-light: rgba(var(--text-primary-rgb), 0.06);
$text-button-hover-background-dark: rgba(var(--text-primary-rgb), 0.09);
$tag-radius: $radius-2xl;
$tag-height: 32px;
