$primary: #fa8e00;
$primary-light: #ffe675;
$primary-dark: #ec6a00;

$secondary: #555b66;

$white: white;
$black: black;

$surface-lightest: $white;
$surface-lighter: lighten($secondary, 60);
$surface-light: lighten($secondary, 57);
$border-light: lighten($secondary, 52);

$text-darkest: darken($secondary, 28);
$text-darker: $secondary;
$text-dark: lighten($secondary, 30);

$surface-darkest: darken($secondary, 26);
$surface-darker: darken($secondary, 23);
$surface-dark: darken($secondary, 20);
$border-dark: darken($secondary, 15);

$text-lightest: lighten($secondary, 55);
$text-lighter: lighten($secondary, 35);
$text-light: lighten($secondary, 10);

$info: #003780;
$info-light: #bfe5f2;
$success: #098d2e;
$success-light: #acffc2;
$success-dark: #002d0c;
$warning: #fec90b;
$warning-light: #fdff8c;
$error: #cc0000;
$error-light: #ffcece;
$error-dark: #3a0000;

$font-xs: 12px;
$font-sm: 14px;
$font-base: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 24px;
$font-3xl: 28px;

$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-color: rgba(0, 0, 0, 0.16);
$shadow-dark: rgba(0, 0, 0, 0.6);

$shadow-xs: 0 2px 4px 0;
$shadow-sm: 0 3px 6px 0;
$shadow-md: 0 4px 8px 0;
$shadow-lg: 0 6px 10px 0;

$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;
$screen-2xl: 1500px;
