.edit-recipe {
  position: relative;

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-2xl;
  }

  &__buttons {
    display: flex;
    gap: $spacing-lg;
  }
}

@media screen and (max-width: $screen-md) {
  .edit-recipe {
    gap: $spacing-2xl;

    .edit-recipe__header {
      margin-left: 0;
      margin-right: 0;
    }

    &__buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
