.recipe-ingredients-loader {
  display: flex;
  flex-direction: column;
  gap: $spacing-2xl;
  margin-top: $spacing-md;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .skeleton-loader__item {
      &:first-child {
        height: 20px;
        width: 60%;
      }

      &:last-child {
        height: 25px;
        width: 20%;
      }
    }
  }
}
