.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: var(--text-primary);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
  }

  &__item {
    position: relative;
    overflow: hidden;
    padding: 0;
  }

  .item {
    &__header {
      background-color: var(--surface-secondary);
      padding: 10px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }

    &__body {
      padding: 12px;
    }
  }

  .list-loader {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__row {
      padding: 15px 12px;
      height: 100%;

      .skeleton-loader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 12px;
      }
    }

    &__wrapper {
      width: 70%;
    }

    &__item {
      &:nth-child(1) {
        width: 100%;
      }

      &:nth-child(2) {
        width: 40%;
      }

      &:nth-child(3) {
        width: 65%;
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .list {
    &__content {
      gap: 10px;
    }

    .item {
      &__header {
        padding: 8px 10px;
      }

      &__body {
        padding: 10px;
      }
    }

    .list-loader {
      gap: 10px;

      &__wrapper {
        width: 95%;
      }

      &__row {
        padding: 12px 10px;

        .skeleton-loader {
          gap: 10px;
        }
      }
    }
  }
}
