.list {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    border-collapse: collapse;

    tr {
      border-bottom: 1px solid $secondary-light-50;
    }

    th,
    td {
      padding: 25px;

      &:first-child {
        padding-left: 5px;
      }

      &:last-child {
        padding-right: 5px;
      }
    }

    th {
      text-align: left;
      color: $secondary-light-20;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: $font-sm;
      padding-bottom: 5px;

      & > p {
        display: inline;
      }
    }
  }

  &__empty-content {
    tr {
      position: relative;
      border: 0;
    }

    td {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      padding: 10px;
    }
  }

  .list-loader {
    height: 100%;
    margin: 24px 4px 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__row {
      display: flex;
      height: 100%;
      gap: 8%;
    }

    &__item {
      height: 100%;
    }
  }

  .loader-header {
    height: 30px;
    display: flex;
    gap: 8%;
    margin: 0 0 12px;

    &__item {
      height: 100%;
      margin-right: 50%;

      &-wrapper {
        display: flex;
        flex-grow: 1;
        height: 100%;
      }
    }
  }
}

.dark-mode {
  .list {
    color: $white;
  }

  tr {
    border-color: $secondary-dark-20;
  }
}
