<div class="list">
  <div class="list__clear-filters-btn">
    <CButton
      variant="text"
      color="secondary"
      label="Clear filters"
      size="small"
      icon="times"
      :isLoading="isLoadingAvailableTags || isLoading"
      @click="clearFilters"
    />
  </div>
  <div class="list__search">
    <CInput v-model="_searchPhrase" icon="magnifying-glass" />
  </div>
  <CSelectTags
    v-model:selectedTags="_selectedTags"
    :tags="availableTags"
    :isLoading="isLoadingAvailableTags || isLoading"
    class="list__select-tags"
  />
  <div v-if="isLoadingAvailableTags || isLoading" class="loader">
    <CSkeletonLoader class="loader__header" :itemsCount="columnsCount" />
    <div class="loader__content">
      <CSkeletonLoader
        v-for="index in 6"
        class="loader__item"
        :itemsCount="columnsCount"
      />
    </div>
  </div>
  <table v-else class="list__content">
    <thead>
      <tr>
        <th v-for="col in columns"><p>{{ col.label }}</p></th>
      </tr>
    </thead>
    <tbody v-if="itemsCount < 1" class="list__empty-content">
      <tr>
        <td>Nic nie znaleziono</td>
      </tr>
    </tbody>
    <tbody v-else>
      <tr v-for="item in items">
        <td v-for="col in columns">
          <slot :name="col.value" :value="item[col.value]">
            {{ getItemColumnValue(item[col.value]) }}
          </slot>
        </td>
      </tr>
    </tbody>
  </table>
</div>
