<div class="list" ref="container">
  <div v-if="isLoading" class="list-loader">
    <CCard v-for="row in getLoaderItemsCount()" class="list-loader__row">
      <CSkeletonLoader class="list-loader__wrapper">
        <div class="list-loader__item skeleton-loader__item" />
        <div class="list-loader__item skeleton-loader__item" />
        <div class="list-loader__item">
          <div v-for="index in 5" class="skeleton-loader__item" />
        </div>
      </CSkeletonLoader>
    </CCard>
  </div>
  <template v-else>
    <div v-if="itemsCount < 1" class="list__empty-content">
      <p>Brak wyników</p>
    </div>
    <ul class="list__content">
      <CCard v-for="item in items" as="li" class="list__item">
        <slot :item="item"></slot>
      </CCard>
    </ul>
  </template>
</div>
