<div class="list" ref="container">
  <div v-if="isLoading" class="list-loader" :style="getLoaderMaxHeight()">
    <div v-for="row in 6" class="list-loader__row">
      <CSkeletonLoader class="list-loader__wrapper">
        <div class="list-loader__item skeleton-loader__item"></div>
        <div class="list-loader__item skeleton-loader__item"></div>
        <div class="list-loader__item-row">
          <div
            v-for="index in 5"
            class="list-loader__row-item skeleton-loader__item"
          ></div>
        </div>
      </CSkeletonLoader>
    </div>
  </div>
  <template v-else>
    <div v-if="itemsCount < 1" class="list__empty-content">
      <p>Brak wyników</p>
    </div>
    <ul class="list__content">
      <li v-for="item in items" class="list__item item">
        <div class="item__header"><slot name="header" :item="item"></slot></div>
        <div class="item__body"><slot name="body" :item="item"></slot></div>
      </li>
    </ul>
  </template>
</div>
