.add-to-calendar {
  &__heading {
    padding: 0 $spacing-2xs;
    margin-bottom: $spacing-lg;
  }

  &__members {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    margin-top: $spacing-4xl;
    padding: 0 $spacing-sm;

    & > p {
      @include uppercasedSecondaryTextWithBorder;
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $spacing-lg;
      padding: 0 $spacing-sm;
    }
  }
}
