<CModal
  v-model:isOpen="_isOpen"
  title="Dodaj do kalendarza"
  submitButtonLabel="Dodaj"
  :isSubmitButtonDisabled="isSelectedDatesEmpty()"
  :isSubmitting="isAddingToCalendar"
  @submit="addSelectedDatesToCalendar"
>
  <div class="add-to-calendar">
    <CDatePicker v-model="selectedDates" />
    <div v-if="!isSelectedDatesEmpty()" class="add-to-calendar__members">
      <p>Wybierz członków</p>
      <div v-for="(date,index) in selectedDates">
        <p>{{ getFormattedDate(date, 'd MMMM (EEEE)') }}</p>
        <CSelectMembers
          v-model:selectedMembers="members[index]"
          :id="'add-to-calendar-'+ index"
        />
      </div>
    </div>
  </div>
</CModal>
