.day-item {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  padding: $spacing-lg;
  padding-right: $spacing-sm;
  cursor: grab;
  box-shadow: $shadow-xs var(--shadow-color);
  background-color: var(--surface-primary);
  border-radius: $radius-sm;

  * {
    user-select: none;
  }

  &__header {
    display: flex;
    gap: $spacing-sm;

    & > p {
      font-weight: $font-medium;
      font-size: $font-sm;

      strong {
        font-size: $font-xs;
        color: var(--text-tetriary);
        margin-left: $spacing-md;
      }
    }

    & > button {
      margin-left: auto;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: $spacing-sm;

    & > svg {
      padding: 0 $spacing-sm;
      color: var(--text-tetriary);
      font-size: 14px;
    }
  }
}
