<div class="list" ref="container">
  <slot v-if="isLoading" name="loader">
    <ListLoader />
  </slot>
  <template v-else>
    <div v-if="itemsCount < 1" class="list__empty-content">
      <p>Brak wyników</p>
    </div>
    <ul class="list__content">
      <li v-for="item in items" class="list__item item">
        <div class="item__header"><slot name="header" :item="item"></slot></div>
        <div class="item__body"><slot name="body" :item="item"></slot></div>
      </li>
    </ul>
  </template>
</div>
