.side-bar {
  width: 100px;
  display: flex;
  flex-shrink: 0;
  position: relative;
  flex-direction: column;
  background-color: var(--surface-secondary);

  &__items {
    flex-grow: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .item {
    &__link {
      color: var(--text-secondary);
      display: flex;
      padding: 15px 5px;
      cursor: pointer;
      flex-direction: column;
      align-items: center;
      transition: background-color 0.15s ease-in-out;

      &:hover:not(.item__link--active) {
        color: var(--primary);
      }

      &--active {
        color: var(--primary);
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      font-size: 18px;
    }

    &__label {
      font-size: $font-xs;
      font-weight: $font-bold;
      letter-spacing: 1px;
      white-space: nowrap;
      margin-top: 8px;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 20px 0 25px;
    color: $secondary;
  }
}
