.side-bar {
  width: 100px;
  display: flex;
  flex-shrink: 0;
  position: relative;
  flex-direction: column;
  background-color: var(--surface-secondary);

  &__items {
    flex-grow: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: $spacing-xs 0;
  }

  .item {
    margin: $spacing-xs $spacing-md;

    &__link {
      color: var(--text-secondary);
      display: flex;
      padding: $spacing-lg $spacing-sm;
      cursor: pointer;
      flex-direction: column;
      align-items: center;
      transition: background-color 0.1s ease-in-out;
      border-radius: $radius-sm;

      &:hover:not(.item__link--active) {
        background-color: var(--surface-tetriary);
      }

      &--active {
        color: var(--primary);
        background-color: var(--surface-tetriary);
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      font-size: 18px;
    }

    &__label {
      font-size: $font-xs;
      font-weight: $font-bold;
      letter-spacing: 1px;
      white-space: nowrap;
      margin-top: $spacing-md;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: $spacing-2xl 0 $spacing-3xl;
    color: $secondary;
  }
}
