.weekly-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: $spacing-xl;
  flex-grow: 1;
}

@media screen and (max-width: $screen-md) {
  .weekly-calendar {
    padding: 0 $spacing-lg;
    gap: $spacing-lg;
    grid-template-columns: repeat(1, 1fr);
  }
}
