<component :is="getContainerElement()" class="weekly-calendar">
  <WeeklyCalendarDay
    v-for="date in allDatesInWeek"
    :calendarDay="getCalendarDayByDate(date)"
    :isLoadingCalendar="isLoadingCalendar"
    :date="date"
    :deleteCalendarItem="deleteCalendarItem"
    :updateCalendarDay="updateCalendarDay"
    @edit="openEditModal"
  >
  </WeeklyCalendarDay>
</component>
<EditItemModal
  v-model:isOpen="isEditModalOpen"
  :date="editedItemDate"
  :calendarItem="editedItem"
  :updateCalendarItem="updateCalendarItem"
/>
