.tags {
  &--small {
    gap: $spacing-2xs;

    .tag {
      padding: 0 $spacing-sm;
      font-size: $font-2xs;
      border-radius: $tag-small-radius;
      height: $tag-small-height;
    }
  }

  &--medium {
    gap: $spacing-xs;

    .tag {
      padding: 0 $spacing-md;
      font-size: $font-xs;
      border-radius: $tag-medium-radius;
      height: $tag-medium-height;
    }
  }

  &--large {
    gap: $spacing-sm;

    .tag {
      padding: 0 $spacing-lg;
      font-size: $font-sm;
      border-radius: $tag-large-radius;
      height: $tag-large-height;
    }
  }
}
