.display-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .tag {
    font-weight: $font-medium;
    color: var(--text-secondary);
    display: flex;
    position: relative;

    &--with-hover {
      cursor: pointer;

      &:hover {
        color: var(--text-primary);
      }
    }

    &:not(:last-child):after {
      content: "";
      height: 3px;
      width: 3px;
      background-color: var(--text-secondary);
      border-radius: 100%;
      position: absolute;
    }

    &--last-in-row:after {
      visibility: hidden;
    }
  }

  &--small {
    column-gap: $spacing-lg;

    .tag {
      font-size: $font-xs;

      &:not(:last-child):after {
        top: 6px;
        right: -7.5px;
      }
    }
  }

  &--medium {
    column-gap: $spacing-xl;
    row-gap: $spacing-2xs;

    .tag {
      font-size: $font-sm;

      &:not(:last-child):after {
        top: 7.5px;
        right: -9.5px;
      }
    }
  }
}
