.tags {
  gap: 4px;

  .tag {
    &--small {
      padding: 1px 6px;
      font-size: 12px;
    }

    &--medium {
      padding: 2px 8px;
      font-size: 13px;
    }

    &--large {
      padding: 5px 12px;
      font-size: 14px;
    }

    &--bg-primary {
      background-color: var(--surface-primary);
    }

    &--bg-secondary {
      background-color: var(--surface-secondary);
    }
  }
}
