$desktopTransitionDuration: 0.15s;
$mobileTransitionDuration: 0.25s;
$optionPadding: $spacing-xl;

.dropdown {
  position: absolute;
  left: 0;
  right: 0;
  border-radius: $radius-lg;
  overflow: hidden;
  z-index: $layer-4;
  background-color: var(--surface-primary);
  border: 1px solid var(--border-color);
  box-shadow: $shadow-sm var(--shadow-color);
  min-width: 250px;
  transition: transform 0.3s ease-in-out;

  &--top {
    bottom: calc(100% + 10px);
  }

  &--bottom {
    top: calc(100% + 10px);
  }

  &__list {
    list-style: none;
    overflow-y: auto;
    max-height: 357px;
  }

  &__option {
    padding: $optionPadding;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: $spacing-xl;

    &:hover,
    &--hovered {
      background-color: var(--surface-tetriary);
    }

    &:deep(strong) {
      color: var(--primary);
    }

    .option__icon {
      display: flex;
      justify-content: center;
      min-width: 20px;
      color: var(--text-secondary);
      margin-top: -1px;
    }
  }

  &__empty-message {
    padding: $optionPadding;
    color: var(--text-tetriary);
  }

  &__loader {
    padding: $spacing-md 0;

    .skeleton-loader {
      height: 50px;
      padding: $optionPadding;
    }
  }

  &__transition {
    &-enter-active {
      transition: opacity $desktopTransitionDuration ease-in-out,
        transform $desktopTransitionDuration ease-in-out;
    }

    &-leave-active {
      transition: opacity $desktopTransitionDuration 0.05s ease-in-out,
        transform $desktopTransitionDuration 0.05s ease-in-out;
    }

    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translateY(-15px);
    }
  }
}

@media screen and (min-width: $screen-md) {
  .dropdown {
    &--medium {
      padding: $spacing-sm 0;

      .dropdown__option {
        padding: $spacing-lg;
        gap: $spacing-lg;

        .option__icon {
          min-width: 18px;
          font-size: $font-sm;
        }
      }

      .dropdown__empty-message {
        padding: $spacing-lg;
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .dropdown {
    position: relative;
    overflow: unset;
    bottom: 0;
    border-radius: 0;
    border: 0;
    border-top: 1px solid var(--border-color);
    box-shadow: 0 0 6px 0 var(--shadow-color);

    &__loader {
      overflow: hidden;
    }

    &__transition {
      &--delayed {
        &-enter-active {
          transition: opacity $mobileTransitionDuration
              $mobileTransitionDuration ease-in-out,
            height $mobileTransitionDuration $mobileTransitionDuration,
            margin $mobileTransitionDuration $mobileTransitionDuration;
        }
      }

      &-enter-active {
        transition: opacity $mobileTransitionDuration ease-in-out,
          height $mobileTransitionDuration ease-in-out,
          margin $mobileTransitionDuration ease-in-out;
      }

      &-leave-active {
        transition: opacity $mobileTransitionDuration 0.1s ease-in-out,
          height $mobileTransitionDuration ease-in-out,
          margin $mobileTransitionDuration ease-in-out;
      }

      &-leave-to,
      &-enter-from {
        transform: translateY(0);
      }
    }

    &__close-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $optionPadding;
      background-color: var(--surface-primary);
      border-top: 1px solid var(--border-color);
    }
  }
}
