.dropdown {
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 6px;
  list-style: none;
  overflow: hidden;
  z-index: 30;
  overflow-y: auto;
  background-color: $white;

  &--top {
    bottom: calc(100% + 10px);
    box-shadow: 0 -2px 6px 0 $shadow-color;
  }

  &--bottom {
    top: calc(100% + 10px);
    box-shadow: 0 2px 6px 0 $shadow-color;
  }

  &__option {
    padding: 15px 15px;
    background-color: $white;
    cursor: pointer;

    &:hover,
    &--hovered {
      filter: brightness(95%);
    }
  }

  &__transition {
    &-enter-active,
    &-leave-active {
      transition: opacity 0.15s ease-in-out;
    }

    &-enter-from,
    &-leave-to {
      opacity: 0;
    }
  }
}

.dark-mode {
  .dropdown {
    box-shadow: 0 2px 6px 0 $shadow-color-dark;
    background-color: $secondary-dark-20;

    &__option {
      background-color: $secondary-dark-20;
      color: $white;

      &:hover,
      &--hovered {
        filter: brightness(90%);
      }
    }
  }
}
