<Teleport to=".layout-content" :disabled="!isMobile">
  <transition name="dropdown__transition">
    <ul
      v-if="_isOpen"
      class="dropdown"
      :class="getDropdownDirectionClass()"
      @mouseout="emitListMouseout(index)"
      :style="getDropdownMaxHeight()"
      ref="dropdown"
    >
      <li
        v-for="(option, index) in options"
        class="dropdown__option"
        @mouseover="emitOptionMouseover(index)"
        @click="emitOptionClick(option)"
        :class="getOptionClass(index)"
      >
        {{ option.label }}
      </li>
      <li v-if="isMobile && options.length > 0">
        <CButton
          color="secondary"
          variant="outlined"
          size="small"
          label="Zamknij"
          fullWidth
        />
      </li>
    </ul>
  </transition>
</Teleport>
