<Teleport to=".layout-content" :disabled="!isMobile">
  <transition name="dropdown__transition">
    <ul
      v-if="_isOpen"
      class="dropdown"
      :class="getDropdownDirectionClass()"
      @mouseout="emitListMouseout(index)"
      :style="getDropdownMaxHeight()"
      ref="dropdown"
    >
      <li
        v-for="(option, index) in options"
        class="dropdown__option"
        @mouseover="emitOptionMouseover(index)"
        @click="emitOptionClick(option)"
        :class="getOptionClass(index)"
        v-html="getOptionContent(option.label)"
      ></li>
      <li v-if="options.length === 0" class="dropdown__empty-message">
        Brak opcji dla wyszukanej frazy
      </li>
      <li v-if="isMobile">
        <CButton
          color="secondary"
          variant="outlined"
          size="small"
          label="Zamknij"
          fullWidth
        />
      </li>
    </ul>
  </transition>
</Teleport>
