<Teleport to=".layout-default" :disabled="!isMobile">
  <CTransition v-bind="getTransitionProps()">
    <div
      v-if="_isOpen"
      class="dropdown"
      :class="getDropdownDirectionClass()"
      @mouseout="emitListMouseout()"
      ref="dropdown"
    >
      <ul v-if="isLoading" class="dropdown__loader">
        <li v-for="index in 5">
          <CSkeletonLoader />
        </li>
      </ul>
      <ul v-else class="dropdown__list" :style="getDropdownMaxHeight()">
        <li
          v-for="(option, index) in options"
          class="dropdown__option"
          @mouseover="emitOptionMouseover(index)"
          @click="emitOptionClick(option)"
          :class="getOptionClass(index)"
          v-html="getOptionContent(option.label)"
        ></li>
        <li v-if="options.length === 0" class="dropdown__empty-message">
          Brak opcji dla wyszukanej frazy
        </li>
      </ul>
      <div v-if="isMobile" class="dropdown__close-btn">
        <CButton color="secondary" size="small" label="Zamknij" fullWidth />
      </div>
    </div>
  </CTransition>
</Teleport>
