*,
*:before,
*:after {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--surface-primary);
  color: var(--text-primary);
}

.grabbing * {
  cursor: grab;
}

a {
  all: unset;
}

.delete-modal {
  strong {
    color: color-mix(in srgb, var(--primary) 60%, $white);
  }
}

@media screen and (min-width: $screen-md) {
  * {
    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--text-tetriary);
      border-radius: 100px;
      border: 4px transparent solid;
      background-clip: padding-box;
    }
  }
}
