.icon {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &--success {
    color: var(--success-primary);
    background-color: var(--success-secondary);

    &.icon--small {
      font-size: 14px;
    }

    &.icon--large {
      font-size: 20px;
    }
  }

  &--error {
    color: var(--error-primary);
    background-color: var(--error-secondary);

    &.icon--medium {
      font-size: 20px;
    }

    &.icon--large {
      font-size: 24px;
    }
  }

  &--small {
    height: 22px;
    width: 22px;
  }

  &--medium {
    height: 26px;
    width: 26px;
  }
  &--large {
    height: 30px;
    width: 30px;
  }
}
