.icon {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &--success {
    color: $success;
    background-color: $success-light;

    &.icon--small {
      font-size: 14px;
    }

    &.icon--large {
      font-size: 20px;
    }
  }

  &--error {
    color: $error;
    background-color: $error-light;

    &.icon--medium {
      font-size: 20px;
    }

    &.icon--large {
      font-size: 24px;
    }
  }

  &--small {
    height: 22px;
    width: 22px;
  }

  &--medium {
    height: 26px;
    width: 26px;
  }
  &--large {
    height: 30px;
    width: 30px;
  }
}

.dark-mode {
  .icon {
    box-shadow: $shadow-xs-dark;

    &--success {
      color: $success-light;
      background-color: $success;
    }

    &--error {
      color: $error-light;
      background-color: $error;
    }
  }
}
