.monthly-calendar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__placeholder {
    display: flex;
    justify-content: center;
    padding: $spacing-md;
    font-weight: $font-bold;
    color: var(--text-tetriary);
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: var(--surface-primary);
    padding: $spacing-lg 0;
    position: sticky;
    top: -$spacing-2xl;

    > p {
      @include uppercasedSecondaryText;
      text-align: center;
    }
  }
}
