<div class="monthly-calendar">
  <div class="monthly-calendar__header">
    <p v-for="weekDay in getWeekDays(true)" class="monthly-calendar__week-day">
      {{weekDay}}
    </p>
  </div>
  <div class="monthly-calendar__body">
    <template v-for="item in fullMonthGrid">
      <MonthlyCalendarDate
        v-if="isDate(item)"
        :calendarDay="getCalendarDayByDate(item)"
        :isLoadingCalendar="isLoadingCalendar"
        :date="item"
      >
      </MonthlyCalendarDate>
      <div class="monthly-calendar__placeholder" v-else>{{ item }}</div>
    </template>
  </div>
</div>
