.field {
  &__wrapper {
    position: relative;
    margin-top: 6px;

    &:deep(input) {
      appearance: none;
      width: 100%;
      padding: 12px 10px;
      border: 1px solid $secondary-light-50;
      border-radius: 4px;
      font-size: $font-base;
      background-color: $white;
      z-index: 10;

      &:focus {
        outline: none;
      }
    }

    &:not(.field__wrapper--invalid) {
      &:deep(input) {
        &:focus {
          border-color: $primary-light;
        }

        &:hover:not(:focus) {
          border-color: $secondary-light-40;
        }
      }
    }

    &--invalid {
      &:deep(input) {
        border-color: $error;
      }
    }
  }

  &__label {
    position: absolute;
    padding: 0 6px;
    background-color: $white;
    top: -7px;
    left: 10px;
    font-size: $font-sm;
    font-weight: 600;
    text-transform: uppercase;
    color: $secondary;
    letter-spacing: 1px;
  }

  &__error-message {
    font-size: $font-xs;
    font-weight: 600;
    color: $error;
    margin: 4px 0;
    padding: 0 2px;
    transition: all 0.15s ease-in-out;

    &--transition-class {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
}

.dark-mode {
  .field {
    &__wrapper {
      &:deep(input) {
        color: $white;
        background-color: $dark-knight;
        border-color: $secondary-light-30;
      }

      &--invalid {
        &:deep(input) {
          border-color: $error;
        }
      }
    }
    &__label {
      color: $white;
      background-color: $dark-knight;
    }
  }
}
