$labelPosition: 16px;

.field {
  position: relative;

  &--with-label {
    margin-top: $labelPosition;
  }

  &:deep(input) {
    appearance: none;
    width: 100%;
    padding: $spacing-lg;
    background-color: var(--surface-primary);
    border: 1px solid var(--border-color);
    color: var(--text-primary);
    border-radius: $radius-sm;
    font-size: $font-base;
    z-index: $layer-1;

    &:focus {
      outline: none;
      border-color: var(--primary);

      & ~ .field__left-icon {
        color: var(--primary);
      }
    }

    &::placeholder {
      color: var(--text-tetriary);
    }

    &::selection {
      background: var(--primary-light);
    }

    &[type="number"] {
      appearance: none;
      -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      -webkit-appearance: none;
    }
  }

  &--disabled {
    opacity: 0.5;

    &:deep(input) {
      background-color: var(--surface-tetriary) !important;
      pointer-events: none;
    }
  }

  &--invalid {
    &:deep(input) {
      border-color: $error !important;
    }

    .field__left-icon {
      color: $error !important;
    }
  }

  &--successful {
    &:deep(input) {
      border-color: $success !important;
    }

    .field__left-icon {
      color: $success !important;
    }
  }

  &.field--with-left-icon {
    &:deep(input) {
      padding-left: 38px;
    }
  }

  &.field--with-right-icon {
    &:deep(input) {
      padding-right: 48px !important;
    }
  }

  &__label {
    position: absolute;
    top: -$labelPosition;
    left: 0;
    @include uppercasedSecondaryText;
  }

  &__error-message {
    font-size: $font-xs;
    font-weight: $font-bold;
    color: $error;
    margin: $spacing-xs 0;
    transition: all 0.15s ease-in-out;

    &--transition-class {
      opacity: 0;
      transform: translateY(-20px);
    }
  }

  &__left-icon {
    position: absolute;
    top: $spacing-lg;
    left: $spacing-lg;
    color: var(--text-secondary);
    font-size: 18px;
  }

  &__right-icon {
    position: absolute;
    top: 0;
    right: $spacing-lg;
    min-width: 25px;
    display: flex;
    align-items: center;
    min-height: 45px;
    color: var(--text-secondary);
  }
}
