.field {
  position: relative;
  margin-top: 6px;

  &:deep(input) {
    appearance: none;
    width: 100%;
    padding: 12px 10px;
    border: 1px solid $secondary-light-50;
    border-radius: 4px;
    font-size: $font-base;
    background-color: $white;
    z-index: 10;
    transition: border-color 0.1s ease-in-out;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $secondary-light-40;
    }

    &::selection {
      background: $primary-light;
    }
  }

  &:not(.field--invalid):not(.field--successful) {
    &:deep(input) {
      &:focus {
        border-color: $primary-light;

        & ~ .field__icon-left {
          color: $primary-light;
        }
      }

      &:hover:not(:focus) {
        border-color: $secondary-light-40;
      }
    }
  }

  &--invalid {
    &:deep(input) {
      border-color: $error;
    }

    .field__icon-left {
      color: $error;
    }
  }

  &--successful {
    &:deep(input) {
      border-color: $success;
    }

    .field__icon-left {
      color: $success;
    }
  }

  &.field--with-icon-left {
    &:deep(input) {
      padding-left: 38px;
    }
  }

  &.field--with-icon-right {
    &:deep(input) {
      padding-right: 38px;
    }

    .field__icon-right {
      opacity: 1;
    }
  }

  &__label {
    position: absolute;
    padding: 0 6px;
    background-color: $white;
    top: -7px;
    left: 10px;
    font-size: $font-sm;
    font-weight: 600;
    text-transform: uppercase;
    color: $secondary;
    letter-spacing: 1px;
  }

  &__error-message {
    font-size: $font-xs;
    font-weight: 600;
    color: $error;
    margin: 4px 0;
    padding: 0 2px;
    transition: all 0.15s ease-in-out;

    &--transition-class {
      opacity: 0;
      transform: translateY(-20px);
    }
  }

  &__icon-left {
    position: absolute;
    top: 12px;
    left: 12px;
    color: $secondary;
    transition: color 0.1s ease-in-out;
    font-size: 18px;
  }

  &__icon-right {
    position: absolute;
    top: 9px;
    right: 12px;
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
  }
}

.dark-mode {
  .field {
    &:deep(input) {
      color: $white;
      background-color: $secondary-dark-25;

      &::selection {
        background: $primary;
      }
    }

    &:not(.field--invalid):not(.field--successful) {
      &:deep(input) {
        border-color: $secondary;

        &:hover:not(:focus) {
          border-color: $secondary-light-10;
        }
      }

      .field__icon-left {
        color: $white;
      }
    }

    &__label {
      color: $white;
      background-color: $secondary-dark-25;
    }
  }
}
