<div v-if="!isLoadingRecipe" class="new-recipe">
  <header class="new-recipe__header">
    <h1>{{ recipe.recipeName }}</h1>
  </header>
  <div class="new-recipe__body">
    <CInput v-model="recipe.recipeName" label="Nazwa" />
    <CInput
      v-model="recipe.preparationTime"
      label="Czas przygotowania"
      type="number"
    />
    <CInput v-model="recipe.cookidooLink" label="Link do cookidoo" />
    <CSelectTags
      v-model:selectedTags="recipe.tags"
      v-model:tags="recipesTags"
      :isLoading="isLoadingRecipesTags"
      inputIcon=""
      enableAddingTags
    />
  </div>
  <div class="new-recipe__buttons">
    <CButton label="Zapisz" @click="updateRecipe" />
  </div>
  <CLoader v-if="isUpdatingRecipe" withOverlay />
</div>
