.calendar-day {
  padding: $spacing-lg $spacing-md;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  background-color: var(--surface-secondary);
  border-radius: $radius-lg;

  &__draggable {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
  }

  &__ghost {
    opacity: 0.6;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--primary-light);
      z-index: $layer-1;
    }
  }

  &__header {
    @include uppercasedSecondaryText;
    text-align: center;
    padding: $spacing-sm 0 $spacing-xl;
    border-bottom: 1px solid var(--border-color);
    user-select: none;
  }

  &__loader {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
  }

  &--active {
    background-color: rgba(var(--primary-rgb), 0.15);

    .calendar-day__header {
      color: var(--primary);
      border-bottom: 1px solid var(--primary);
    }
  }
}

@media screen and (max-width: $screen-md) {
  .calendar-day {
    min-height: 145px;
  }
}
