.select-members {
  .members {
    gap: $spacing-md;
  }
  &__item {
    > label {
      filter: brightness(60%);
    }
    > input {
      display: none;

      &:checked {
        & + label {
          filter: brightness(100%);
          outline: 2px solid var(--primary);
          outline-offset: 1px;
        }
      }
    }
  }

  &__loader {
    display: flex;
    gap: $spacing-xs;

    .skeleton-loader__item {
      min-width: 36px;
      max-width: 36px;
      height: 36px;
      border-radius: 100%;
    }
  }
}
