<CSkeletonLoader class="shopping-loader">
  <div class="shopping-loader__header">
    <div class="skeleton-loader__item"></div>
    <div class="skeleton-loader__item"></div>
    <div class="skeleton-loader__item"></div>
    <div class="skeleton-loader__item"></div>
  </div>
  <CCard class="shopping-loader__body" variant="contained">
    <CSkeletonLoader class="shopping-loader__nav" backgroundColor="secondary">
      <div class="skeleton-loader__item"></div>
      <div class="skeleton-loader__item"></div>
      <div class="skeleton-loader__item"></div>
    </CSkeletonLoader>
    <ShoppingListLoader />
  </CCard>
</CSkeletonLoader>
