.list-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 0;
  color: $secondary-light-20;

  &-pages {
    display: flex;
    cursor: pointer;
    gap: 15px;

    &__item {
      &--active {
        cursor: default;
        color: $secondary;
        font-weight: 600;
      }
    }
  }

  &__summary {
    font-style: italic;
  }

  &-loader {
    display: flex;
    justify-content: space-between;
    margin: 20px 25px 0;
    gap: 40%;

    &__item {
      height: 30px;
      padding: 0 2%;
      gap: 6%;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .list-pagination {
    padding: 10px 15px 0;

    &-loader {
      margin: 10px 10px 0;
    }
  }
}

.dark-mode {
  .list-pagination-pages__item--active {
    color: $secondary-light-30;
    border-color: $secondary-light-30;
  }
}
