<div v-if="isLoading" class="list-pagination-loader">
  <CSkeletonLoader class="list-pagination-loader__item" />
  <CSkeletonLoader class="list-pagination-loader__item" />
</div>
<div v-else-if="paginationData.totalRecords > 0" class="list-pagination">
  <div
    class="list-pagination__summary"
    v-html="getPaginationSummaryText()"
  ></div>
  <div class="list-pagination-pages">
    <div
      v-for="pageNumber in paginationData.totalPages"
      class="list-pagination-pages__item"
      :class="getPaginationActiveItemClass(pageNumber)"
      @click="changePage(pageNumber)"
    >
      {{ pageNumber }}
    </div>
  </div>
</div>
