<div v-if="isLoading" class="pagination-loader">
  <CSkeletonLoader class="pagination-loader__item" />
  <CSkeletonLoader class="pagination-loader__item" />
</div>
<div v-else-if="paginationData?.totalRecords > 0" class="pagination">
  <div class="pagination-pages">
    <div
      class="pagination__arrow"
      :class="getLeftArrowClasses()"
      @click="changePage(currentPage - 1)"
    >
      <FontAwesomeIcon icon="chevron-left" />
    </div>
    <div
      v-for="pageNumber in paginationData.totalPages"
      class="pagination-pages__item"
      :class="getPaginationActiveItemClass(pageNumber)"
      @click="changePage(pageNumber)"
    >
      {{ pageNumber }}
    </div>
    <div
      class="pagination__arrow"
      :class="getRightArrowClasses()"
      @click="changePage(currentPage + 1)"
    >
      <FontAwesomeIcon icon="chevron-right" />
    </div>
  </div>
  <div class="pagination__summary">
    <p>{{ getPaginationSummaryText() }}</p>
  </div>
</div>
