.autocomplete {
  position: relative;

  &__input {
    font-style: italic;
    color: $secondary-light-20;
    scroll-margin: 25px;

    &--option-selected {
      font-style: normal;
      color: $secondary-dark-30;
    }

    &::placeholder {
      font-style: normal;
    }
  }
}

.dark-mode {
  .autocomplete {
    .autocomplete__input {
      color: $secondary-light-30;

      &--option-selected {
        color: $white;
      }
    }
  }
}
