.autocomplete {
  position: relative;

  &__input {
    font-style: italic;
    color: var(--text-tetriary);
    scroll-margin: 25px;

    &--option-selected {
      font-style: normal;
      color: var(--text-primary);
    }

    &::placeholder {
      font-style: normal;
    }
  }
}
