<CFieldTemplate
  :modelValue="selectedValue"
  v-bind="getFieldTemplateProps(props)"
  class="autocomplete"
>
  <input
    :id="$attrs.id && $attrs.id + '-field'"
    :value="inputValue"
    @input="onInput"
    :disabled="isDisabled"
    :type="$attrs.type"
    autocomplete="off"
    :placeholder="placeholder"
    class="autocomplete__input"
    :class="getSelectedClass()"
    @focus="hasFocus = true"
    @blur="onBlur"
    @keydown.arrow-up="onArrowUp"
    @keydown.arrow-down="onArrowDown"
    @keydown.enter="onEnter"
    @click="onInputClick"
    ref="input"
  />
  <CDropdown
    :isOpen="isDropdownOpen"
    :options="filteredOptions"
    :getOptionClass="getHoveredOptionClass"
    @listMouseout="setHoveredOptionIndex"
    @optionMouseover="setHoveredOptionIndex"
    @optionClick="selectOption"
  />
</CFieldTemplate>
