.calendar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__range {
    display: flex;
    align-items: center;

    & > p {
      min-width: 150px;
      text-align: center;
    }
  }
}
