.calendar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__toolbar {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__range {
    display: flex;
    align-items: center;

    & > p {
      font-size: $font-lg;
      font-weight: $font-bold;
      color: var(--text-secondary);
      min-width: 180px;
      text-align: center;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .calendar {
    &__range {
      & > p {
        font-size: $font-base;
        min-width: 130px;
      }
    }
  }
}
