.calendar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__filters {
    display: flex;
    align-items: center;
    gap: $spacing-xl;
    margin-bottom: $spacing-xl;

    > .field {
      width: 280px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: $spacing-2xl;
  }

  &__toolbar {
    display: flex;
    align-items: center;
    gap: $spacing-xl;
  }

  &__range {
    display: flex;
    align-items: center;

    & > p {
      font-size: $font-lg;
      font-weight: $font-medium;
      color: var(--text-secondary);
      min-width: 150px;
      text-align: center;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .calendar {
    &__range {
      & > p {
        font-size: $font-base;
        min-width: 120px;
      }
    }

    &__filters {
      padding-left: $spacing-lg;

      > .select-members {
        width: calc(100vw - 268px);
      }

      > .field {
        width: 240px;
      }
    }
  }
}
