.shopping-items-by-recipe {
  display: flex;
  flex-direction: column;
  gap: $spacing-3xl;
  padding-left: $spacing-xs;

  .item {
    &__header-wrapper {
      font-weight: $font-medium;
      color: color-mix(in srgb, var(--primary) 50%, var(--text-primary));
      letter-spacing: 1px;
      margin-bottom: $spacing-3xl;
      padding-right: 40px;
      position: relative;

      a {
        cursor: pointer;
      }

      button {
        position: absolute;
        right: 0;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .shopping-items-by-recipe {
    gap: $spacing-xl;

    .item {
      &__header-wrapper {
        margin-bottom: $spacing-xl;
      }
    }
  }
}
