<div class="shopping-items-by-recipe">
  <div
    v-for="recipeItem in itemsGroupedByRecipeId"
    :key="recipeItem.recipeId"
    class="shopping-items-by-recipe__item item"
  >
    <div class="item__header-wrapper">
      <div v-if="recipeItem.recipeId" class="item__header">
        <RouterLink :to="'/recipes/' + recipeItem.recipeId">
          <p>{{ getRecipeName(recipeItem.recipeId) }}</p>
        </RouterLink>
        <CButton
          color="secondary"
          variant="text"
          icon="trash-can"
          @click="deleteRecipe(recipeItem.recipeId)"
          :isLoading="isDeletingRecipe[recipeItem.recipeId]"
        />
      </div>
      <p v-else>Pozostałe</p>
    </div>
    <div class="shopping-list__items">
      <CShoppingItem v-for="item in recipeItem.items" :item="item" />
    </div>
  </div>
</div>
