.day-item {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  padding: $spacing-sm;
  cursor: grab;
  box-shadow: $shadow-xs var(--shadow-color);
  background-color: var(--surface-primary);
  border-radius: $radius-sm;

  * {
    user-select: none;
  }

  &__header {
    display: flex;
    gap: $spacing-sm;

    & > p {
      font-size: $font-sm;
      font-weight: $font-bold;
      margin: $spacing-xs 0 0 $spacing-2xs;

      strong {
        font-size: $font-xs;
        color: var(--text-tetriary);
        margin-left: $spacing-md;
      }
    }

    & > button {
      margin-left: auto;
    }
  }

  .body {
    display: flex;
    align-items: flex-end;
    gap: $spacing-xs;

    &__left-part {
      display: flex;
      gap: $spacing-xs;
    }

    &__icon {
      font-size: $font-base;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      width: 24px;
      color: var(--text-secondary);
    }

    & > *:last-child {
      margin-left: auto;
    }
  }

  &__tags-tooltip {
    padding: $spacing-xs;

    & > p {
      @include uppercasedSecondaryTextWithBorder;
      margin-bottom: $spacing-lg;
    }
  }
}
