<div class="day-item" :id="item.id">
  <div class="day-item__header">
    <p>
      {{ item.name }}<strong v-if="item.portions > 1"
        >x{{ item.portions }}
      </strong>
    </p>
    <CButton
      color="secondary"
      variant="text"
      icon="times"
      size="small"
      @click="emits('delete', item.id)"
    />
  </div>
  <div class="day-item__body body">
    <div class="body__left-part">
      <div
        v-if="!isMobile"
        class="body__icon"
        v-on="getTooltipEvents({ 
          width: 240, 
          withCustomContent: true,
          activeCustomContent: getTagsTooltipId(item.id)
        })"
      >
        <FontAwesomeIcon icon="tags" />
      </div>
      <CButton
        color="secondary"
        variant="text"
        icon="clone"
        size="small"
        v-on="getTooltipEvents({ width: 74, text: 'Duplikuj' })"
        @click="emits('clone', item)"
      />
      <CButton
        color="secondary"
        variant="text"
        icon="pen-to-square"
        size="small"
        v-on="getTooltipEvents({ width: 60, text: 'Edytuj' })"
        @click="emits('edit', item)"
      />
    </div>
    <RouterLink v-if="item.isRecipe" :to="'/recipes/' + item.recipeId">
      <CButton
        color="secondary"
        variant="text"
        icon="utensils"
        v-on="getTooltipEvents({ width: 125, text: 'Otwórz przepis' })"
      />
    </RouterLink>
    <RouterLink v-else to="/ordered">
      <CButton color="secondary" variant="text" icon="box-open" />
    </RouterLink>
  </div>
  <Teleport v-if="isTagsTooltipContentVisible(item.id)" to="#tooltip-content">
    <div class="day-item__tags-tooltip">
      <p>Tagi</p>
      <CDisplayTags :tags="item.tags" />
    </div>
  </Teleport>
</div>
