<div class="day-item" :id="item.id">
  <div class="day-item__header">
    <p
      v-tooltip="{ 
        withCustomContent: true,
        activeCustomContent: getTagsTooltipId(item.id),
      }"
    >
      {{ item.name }}<strong v-if="membersLength > 1"
        >x{{ membersLength }}
      </strong>
    </p>
    <CButton
      color="secondary"
      variant="text"
      icon="times"
      size="small"
      @click="emits('delete', item.id)"
    />
  </div>
  <div class="day-item__body body">
    <div class="body__left-part">
      <CButton
        color="secondary"
        variant="text"
        icon="clone"
        size="small"
        v-tooltip="{ text: 'Duplikuj' }"
        @click="emits('clone', item)"
      />
      <CButton
        color="secondary"
        variant="text"
        icon="pen-to-square"
        size="small"
        v-tooltip="{ text: 'Edytuj' }"
        @click="emits('edit', item)"
      />
      <RouterLink v-if="item.isRecipe" :to="'/recipes/' + item.recipeId">
        <CButton
          color="secondary"
          variant="text"
          icon="utensils"
          size="small"
          v-tooltip="{ text: 'Otwórz przepis' }"
        />
      </RouterLink>
      <RouterLink v-else to="/ordered">
        <CButton
          color="secondary"
          variant="text"
          icon="box-open"
          size="small"
        />
      </RouterLink>
    </div>
    <div class="body__right-part">
      <CDisplayMembers :memberIds="item.members" />
    </div>
  </div>
  <Teleport v-if="isTagsTooltipContentVisible(item.id)" to="#tooltip-content">
    <div class="day-item__tags-tooltip">
      <p>Tagi</p>
      <CDisplayTags :tags="item.tags" />
    </div>
  </Teleport>
</div>
