$itemGap: 10px;
$mobileItemGap: 8px;

.item-body {
  display: grid;
  grid-template-columns: calc(100% - ($monthPreviewWidth + 10px)) $monthPreviewWidth;
  align-items: flex-end;
  gap: $itemGap;

  &__col {
    display: flex;
    flex-direction: column;
    gap: $itemGap;
  }

  &__row {
    display: flex;
    gap: $itemGap + 5px;
  }

  &__cooked-date,
  &__preparation-time {
    font-size: $font-sm;
    font-weight: $font-medium;
    display: flex;
    gap: 5px;
    color: var(--text-secondary);
  }

  &__preparation-time {
    margin-left: 3px;

    & > svg {
      margin-top: 1px;
    }
  }

  &__cooked-date {
    &--planned {
      color: var(--success-primary);
    }
  }

  &__month-preview {
    margin-left: auto;
  }
}

@media screen and (max-width: $screen-md) {
  .item-body {
    grid-template-columns: calc(100% - ($mobileMonthPreviewWidth + 10px)) $mobileMonthPreviewWidth;
    gap: $mobileItemGap;

    &__col {
      gap: $mobileItemGap;
    }

    &__row {
      gap: $mobileItemGap + 2px;
    }

    &__cooked-date,
    &__preparation-time {
      font-size: $font-xs;
    }
  }
}
