$itemGap: $spacing-sm;
$mobileItemGap: $spacing-xs;

.item-body {
  display: flex;
  align-items: flex-end;
  gap: $itemGap;
  margin-top: -$spacing-lg;

  &__col {
    display: flex;
    flex-direction: column;
    gap: $itemGap;
    width: 100%;
  }

  &__row {
    display: flex;
    gap: $itemGap + 8px;
  }

  &__kcal,
  &__cooked-date,
  &__preparation-time {
    font-size: $font-sm;
    font-weight: $font-medium;
    display: flex;
    gap: 5px;
    color: var(--text-secondary);
    white-space: nowrap;

    > svg {
      color: color-mix(in srgb, var(--primary) 30%, var(--text-secondary));
    }
  }

  &__preparation-time {
    & > svg {
      margin-top: 1px;
    }
  }

  &__cooked-date {
    &--planned {
      color: var(--success-primary);

      > svg {
        color: var(--success-primary);
      }
    }
  }

  &__year-preview {
    margin-left: auto;
  }
}

@media screen and (max-width: $screen-md) {
  .item-body {
    gap: $mobileItemGap;
    margin-top: 0;

    &__col {
      gap: $mobileItemGap;
    }

    &__row {
      gap: $mobileItemGap + 6px;
    }

    &__kcal,
    &__cooked-date,
    &__preparation-time {
      font-size: $font-xs;
    }
  }
}
