<form
  class="shopping-list-add-item"
  :class="{ 'shopping-list-add-item--mobile-active': isMobilePanelOpen }"
  novalidate
  @submit.prevent="onSubmit"
>
  <CAutocomplete
    v-model="selectedItem"
    :options="options"
    placeholder="Dodaj produkty"
    @update:modelValue="onItemSelect"
    enableAddingOption
    @addOption="onAddCustomItem"
    :isLoading="isSubmitting"
    :key="autocompleteKey"
    ref="ingredientAutocomplete"
    :enableSetSelectedWhenInputMatchAnyOption="false"
  />
  <CInput
    v-model="amount"
    class="shopping-list-add-item__amount"
    :placeholder="getAmountPlaceholder()"
    type="number"
    :isLoading="isSubmitting"
    ref="amountInput"
  />
  <CButton color="primary" icon="plus" size="large" />
</form>
<CDraggableButton
  ref="mobileButton"
  id="shopping-list-add-item-mobile-btn"
  icon="plus"
  class="shopping-list-add-item__mobile-btn"
  :class="{ 'shopping-list-add-item__mobile-btn--active': isMobilePanelOpen }"
  @click="onMobileButtonClick"
/>
