.tooltip {
  position: absolute;
  transition: opacity 0.1s ease-in-out;
  z-index: $layer-5;

  &__content {
    position: absolute;
    box-shadow: $shadow-md $shadow-color;
    border-radius: $radius-lg;
    background-color: var(--surface-tetriary);
    padding: $spacing-md;
    transform: translateX(-50%);

    &:deep(p) {
      color: var(--text-secondary);
      white-space: nowrap;
    }
  }

  &__text {
    color: var(--text-secondary);
    white-space: nowrap;
  }

  &__transition {
    &-enter-from {
      opacity: 0;
    }

    &-leave-to {
      opacity: 0;
    }
  }
}
