<CCard v-if="!isEditing" class="recipe" variant="contained">
  <RecipeLoader v-if="isLoadingRecipe" />
  <template v-else>
    <header class="recipe__header">
      <h1>
        {{ recipe.recipeName }}
        <CButton
          v-if="recipe.cookidooLink"
          color="secondary"
          variant="text"
          @click="openCookidooLink"
          class="recipe__cookidoo-link"
          v-tooltip="{ text: 'Otwórz w Cookidoo' }"
        >
          <InlineSvg :src="require('@/assets/icons/thermomix.svg')" />
        </CButton>
      </h1>
      <CDisplayTags :tags="recipe.tags" :size="isMobile ? 'small' : 'medium'" />
    </header>
    <div class="recipe__attributes">
      <div class="recipe__attribute attribute preparation-time">
        <div class="attribute__icon">
          <FontAwesomeIcon :icon="['far', 'clock']" />
        </div>
        <div class="attribute__label">
          <p>Czas przygotowania</p>
          <p>{{ getPreparationTime(recipe.preparationTime) }}</p>
        </div>
      </div>
      <div class="recipe__attribute attribute cooked-date">
        <div class="attribute__icon">
          <FontAwesomeIcon :icon="['far', 'calendar']" />
        </div>
        <div class="attribute__label">
          <p>Ostatnio gotowane</p>
          <p>{{ getFormattedCookedDate(recipe.cookedDate) }}</p>
        </div>
      </div>
      <div class="recipe__attribute attribute kcal">
        <div class="attribute__icon">
          <FontAwesomeIcon icon="fire-flame-simple" />
        </div>
        <div class="attribute__label">
          <p>Wartość energetyczna</p>
          <p>{{ getKcal(recipe.kcal) }}</p>
        </div>
      </div>
    </div>
  </template>
  <div class="recipe__buttons">
    <CButton
      color="secondary"
      size="small"
      icon="pen-to-square"
      label="Edytuj"
      variant="text"
      :isLoading="isLoadingRecipe"
      @click="startEditing"
      :fullWidth="isMobile"
    />
    <CButton
      color="secondary"
      size="small"
      icon="trash-can"
      label="Usuń"
      variant="text"
      :isLoading="isLoadingRecipe"
      :fullWidth="isMobile"
    />
    <CButton
      color="primary"
      size="small"
      :icon="['far', 'calendar']"
      label="Dodaj do kalendarza"
      :isLoading="isLoadingRecipe"
      :fullWidth="isMobile"
      @click="isAddToCalendarModalOpen = true"
    />
    <CButton
      color="secondary"
      size="small"
      icon="cart-shopping"
      label="Dodaj do zakupów"
      :isLoading="isLoadingRecipe"
      :fullWidth="isMobile"
    />
  </div>
</CCard>
<div v-else class="edit-recipe">
  <header class="edit-recipe__header">
    <h1>{{ 'Edytuj ' + recipe.recipeName?.toLowerCase() }}</h1>
  </header>
  <form class="edit-recipe__form" @submit.prevent="updateRecipe">
    <RecipeFields :recipe="recipe" />
    <div class="edit-recipe__buttons">
      <CButton
        color="secondary"
        size="small"
        icon="check"
        label="Zapisz"
        :isLoading="isUpdatingRecipe"
        :fullWidth="isMobile"
      />
      <CButton
        color="secondary"
        size="small"
        icon="times"
        label="Anuluj"
        type="button"
        :isLoading="isUpdatingRecipe"
        @click="cancelEditing"
        :fullWidth="isMobile"
      />
    </div>
  </form>
  <CLoader
    v-if="isUpdatingRecipe"
    :circleHeight="40"
    :circleWidth="40"
    withOverlay
  />
</div>
<AddToCalendarModal
  v-model:isOpen="isAddToCalendarModalOpen"
  :addedRecipe="recipe"
/>
