<div v-if="!isEditing" class="recipe">
  <RecipeLoader v-if="isLoadingRecipe" />
  <template v-else>
    <CCard class="recipe__card" variant="contained">
      <header class="recipe__header">
        <h1>
          {{ recipe.recipeName }}
          <CButton
            v-if="recipe.cookidooLink"
            color="secondary"
            variant="text"
            @click="openCookidooLink"
            class="recipe__cookidoo-link"
            v-tooltip="{ text: 'Otwórz w Cookidoo' }"
          >
            <InlineSvg :src="require('@/assets/icons/thermomix.svg')" />
          </CButton>
        </h1>
        <CDisplayTags
          :tags="recipe.tags"
          :size="isMobile ? 'small' : 'medium'"
        />
      </header>
      <div class="recipe__buttons">
        <CButton
          color="secondary"
          size="small"
          icon="pen-to-square"
          label="Edytuj"
          variant="text"
          @click="startEditing"
          :fullWidth="isMobile"
        />
        <CButton
          color="secondary"
          size="small"
          icon="trash-can"
          label="Usuń"
          variant="text"
          :fullWidth="isMobile"
        />
        <CButton
          color="primary"
          size="small"
          :icon="['far', 'calendar']"
          label="Dodaj do kalendarza"
          :fullWidth="isMobile"
          @click="isAddToCalendarModalOpen = true"
        />
        <CButton
          color="secondary"
          size="small"
          icon="cart-shopping"
          label="Dodaj do zakupów"
          :fullWidth="isMobile"
        />
      </div>
    </CCard>
    <div class="recipe__attributes">
      <div class="recipe__attribute attribute preparation-time">
        <div class="attribute__icon">
          <FontAwesomeIcon :icon="['far', 'clock']" />
        </div>
        <div class="attribute__label">
          <p>Czas przygotowania</p>
          <p>{{ getPreparationTime(recipe.preparationTime) }}</p>
        </div>
      </div>
      <div class="recipe__attribute attribute cooked-date">
        <div class="attribute__icon">
          <FontAwesomeIcon :icon="['far', 'calendar']" />
        </div>
        <div class="attribute__label">
          <p>Ostatnio gotowane</p>
          <p>{{ getFormattedCookedDate(recipe.cookedDate) }}</p>
        </div>
      </div>
      <div class="recipe__attribute attribute kcal">
        <div class="attribute__icon">
          <FontAwesomeIcon icon="bolt" />
        </div>
        <div class="attribute__label">
          <p>Wartość energetyczna</p>
          <p>{{ getKcal(recipe.kcal) }}</p>
        </div>
      </div>
    </div>
  </template>
</div>
<EditRecipe
  v-else
  :recipe="recipe"
  @cancel="cancelEditing"
  @success="isEditing = false"
/>
<AddToCalendarModal
  v-model:isOpen="isAddToCalendarModalOpen"
  :addedRecipe="recipe"
/>
