.checkbox {
  display: flex;
  align-items: center;
  gap: $spacing-lg;
  cursor: pointer;
  position: relative;

  &.checkbox--disabled {
    opacity: 0.5;

    input:checked {
      background-color: var(--border-color);
      border-color: var(--border-color);
    }
  }

  input {
    appearance: none;
    border: 1px solid var(--border-color);
    height: 20px;
    width: 20px;
    border-radius: $radius-2xs;

    &:checked {
      background-color: var(--primary);
      border-color: var(--primary);

      & ~ .checkbox__icon {
        opacity: 1;
      }
    }
  }

  &__icon {
    position: absolute;
    left: 0px;
    top: 0px;
    color: $white;
    font-size: 14px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  p {
    user-select: none;
  }
}
