<CModal
  v-model:isOpen="_isOpen"
  :title="getTitle()"
  :submitButtonLabel="getSubmitButtonLabel()"
  :isSubmitting="isSubmitting"
  @submit="submit"
>
  <div class="edit-ordered-food-modal">
    <CInput v-model="orderedFood.foodName" label="Nazwa jedzenia" />
    <CInput v-model="orderedFood.placeName" label="Nazwa miejsca" />
    <CInput v-model="orderedFood.placeLink" label="Link do miejsca" />
    <CSelectTags
      v-model:selectedTags="orderedFood.tags"
      v-model:tags="orderedFoodTags"
      :isLoading="isLoadingTags"
      enableAddingTags
    />
  </div>
</CModal>
