.sidebar {
  width: 250px;
  height: 100vh;
  display: flex;
  position: relative;
  transition: width 0.15s ease-in-out;

  &.sidebar--collapsed {
    width: 71px;

    .item__label {
      opacity: 0;
    }

    .sidebar__collapse-btn {
      font-size: 26px;
    }
  }

  &__wrapper {
    width: 100%;
    box-shadow: $shadow-md-dark;
  }

  &__header {
    background-color: $secondary-dark-20;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    height: 100%;
    background-color: $secondary-dark-20;
    transition: background-color 0.2s ease-in-out;
    overflow: hidden;
  }

  &__collapse-bar {
    position: relative;
    left: -6px;
    height: 100%;
    min-width: 6px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: $primary;
    }
  }

  &__collapse-btn {
    color: $white;
    font-size: 31px;
    margin-right: 22px;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      box-shadow: none;
    }
  }

  &__items {
    list-style: none;
  }

  .item {
    &__link {
      padding: 15px 24px;
      cursor: pointer;
      color: $white;
      display: flex;
      align-items: center;

      &:hover,
      &--active {
        color: $secondary-dark-10;
        background-color: $primary-light;
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      min-width: 23px;
      font-size: $font-lg;
      margin-right: 26px;
    }

    &__label {
      letter-spacing: 1px;
      white-space: nowrap;
      transition: opacity 0.15s ease-in-out;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: transform 0.2s ease-in-out;

    &.sidebar--collapsed {
      width: 100%;
      transform: translateX(-100%);

      .item__label {
        opacity: 1;
      }

      .sidebar__header {
        transform: translateX(100%);
      }
    }

    &__header {
      box-shadow: $shadow-xs-dark;
    }

    &__content {
      position: relative;
      z-index: 1;
    }
  }
}

.dark-mode {
  .sidebar {
    &__header,
    &__content {
      background-color: $secondary-dark-30;
    }

    &__wrapper {
      box-shadow: $shadow-md;
    }
  }

  .item__link {
    &--active,
    &:hover {
      color: $secondary-dark-30;
      background-color: $primary-light;
    }
  }
}
