.sidebar {
  width: 253px;
  height: 100vh;
  display: flex;
  position: relative;
  transition: width 0.15s ease-in-out;

  &.sidebar--collapsed {
    width: 71px;

    .item__label {
      opacity: 0;
    }

    .sidebar__mobile-collapse-btn {
      font-size: 24px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: $shadow-sm-dark;
  }

  &__header {
    background-color: $secondary-dark-25;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    height: 100%;
    background-color: $secondary-dark-25;
    overflow: hidden;
  }

  &__collapse-btn {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    transition: opacity 0.15s ease-in-out;
    opacity: 0;

    & > button {
      position: absolute;
      left: -20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 20px;
      background-color: $secondary;
      color: $white;
      box-shadow: $shadow-xs-dark;
      border: 0;
      cursor: pointer;
      font-size: 16px;
    }
  }

  &:hover {
    .sidebar__collapse-btn {
      opacity: 1;
    }
  }

  &__mobile-collapse-btn {
    appearance: none;
    border: 0;
    color: $white;
    font-size: 28px;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
  }

  &__items {
    list-style: none;
  }

  .item {
    &__link {
      padding: 13px 24px;
      cursor: pointer;
      color: $white;
      display: flex;
      transition: background-color 0.15s ease-in-out;

      &:first-child {
        margin-top: 0;
      }

      &:hover:not(.item__link--active) {
        background-color: $secondary-dark-20;
      }

      &--active {
        background-color: $secondary-dark-10;
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
    }

    &__icon {
      display: flex;
      justify-content: center;
      min-width: 23px;
      font-size: $font-lg;
      margin-right: 26px;
    }

    &__label {
      letter-spacing: 2px;
      white-space: nowrap;
      transition: opacity 0.15s ease-in-out;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: transform 0.2s ease-in-out;

    &.sidebar--collapsed {
      width: 100%;
      transform: translateX(-100%);

      .item__label {
        opacity: 1;
      }

      .sidebar__header {
        transform: translateX(100%);
      }
    }

    &__header {
      box-shadow: $shadow-xs;
    }

    &__content {
      position: relative;
      z-index: 1;
    }

    .item {
      &__link {
        padding: 15px 13px;
      }

      &__icon {
        margin-right: 20px;
      }
    }
  }
}

.dark-mode {
  .sidebar {
    &__wrapper {
      box-shadow: $shadow-xs-dark;
    }

    &__collapse-btn > button {
      background-color: $secondary-dark-10;
    }
  }
}
