.shopping-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-3xl;
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-lg;
  }

  &__buttons {
    display: flex;
    gap: $spacing-sm;
  }

  &__summed-up-mode-btn--active:deep(.button__icon) {
    transform: rotate(180deg);
  }

  &__name {
    @include heading-2;
  }

  &__owned-items,
  &:deep(.shopping-list__items) {
    display: flex;
    flex-direction: column;
    gap: $spacing-2xl;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: $spacing-3xl;
    width: 100%;
  }

  &__add-item {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-4xl;
    gap: $spacing-lg;

    &:deep(.autocomplete) {
      width: 100%;
    }
  }

  &__owned-title {
    @include uppercasedSecondaryTextWithBorder;
  }

  &__owned-items {
    &:deep(.shopping-item) {
      opacity: 0.5;

      > * {
        text-decoration: line-through;
      }
    }
  }

  &__empty {
    text-align: center;
    font-size: $font-sm;
    height: 20px;
  }
}
