.shopping-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-2xl;
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-lg;
  }

  &__buttons {
    display: flex;
    gap: $spacing-lg;
  }

  &__summed-up-mode-btn--active:deep(.button__icon) {
    transform: rotate(180deg);
  }

  &__name {
    @include heading-2;
  }

  &__owned-items,
  &:deep(.shopping-list__items) {
    display: flex;
    flex-direction: column;
    gap: $spacing-2xl;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: $spacing-3xl;
    width: 100%;
  }

  &__owned-title {
    @include uppercasedSecondaryTextWithBorder;
  }

  &__owned-card {
    margin-top: $spacing-xl;
  }

  &__empty {
    text-align: center;
    font-size: $font-sm;
    height: 20px;
  }

  &:deep(.shopping-list__dragged-item) {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $layer-5;
    box-shadow: $shadow-xs var(--shadow-color);
    background-color: var(--surface-tetriary);
    padding: $spacing-lg;
    border-radius: $spacing-sm;

    .shopping-item__buttons {
      display: none;
    }

    .checkbox__input-wrapper {
      display: none;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .shopping-list {
    gap: $spacing-sm;

    &:deep(.horizontal-tabs) {
      margin: 0 (-$spacing-lg);
    }

    .card {
      gap: $spacing-lg;
    }

    &__owned-items,
    &:deep(.shopping-list__items) {
      padding: $spacing-md 0;
    }

    &__owned-card {
      margin-top: $spacing-lg;
    }

    &__buttons {
      gap: $spacing-sm;
    }
  }
}
