<div class="shopping-list">
  <div class="shopping-list__header">
    <div class="shopping-list__name">
      <p>{{ list.name }}</p>
    </div>
    <div class="shopping-list__buttons">
      <CButton
        color="secondary"
        variant="outlined"
        icon="sitemap"
        :size="isMobile ? 'large' : 'small'"
        :label="getSummedUpModeButtonLabel()"
        @click="isSummedUpMode = !isSummedUpMode"
        class="shopping-list__summed-up-mode-btn"
        :class="{ 'shopping-list__summed-up-mode-btn--active': !isSummedUpMode }"
      />
      <CButton
        color="secondary"
        variant="outlined"
        icon="edit"
        :label="!isMobile ? 'Edytuj' : ''"
        :size="isMobile ? 'large' : 'small'"
        @click="emits('editList', list.id)"
      />
      <CButton
        color="error"
        variant="outlined"
        icon="ban"
        :label="!isMobile ? 'Wyczyść' : ''"
        :size="isMobile ? 'large' : 'small'"
        @click="clearList"
        :isLoading="isClearingList"
      />
    </div>
  </div>
  <CCard variant="contained">
    <CHorizontalTabs v-model="selectedTab" :items="tabs" />
    <ShoppingListLoader v-if="isLoadingItems" />
    <template v-else-if="items?.length > 0">
      <ShoppingItems v-if="isDefaultSelected()" :items="items" />
      <ShoppingItemsByRecipe v-if="isByRecipeSelected()" :items="items" />
      <ShoppingItemsByCategory v-if="isByCategorySelected()" :items="items" />
    </template>
    <p v-else class="shopping-list__empty">Brak produktów</p>
  </CCard>
  <AddItem :listId="list.id" @itemAdded="addItemToList" :key="list.id" />
  <CCard
    v-if="ownedItems?.length > 0"
    variant="contained"
    class="shopping-list__owned-card"
  >
    <p class="shopping-list__owned-title">To już masz</p>
    <div class="shopping-list__owned-items">
      <CShoppingItem
        v-for="item in ownedItems"
        :item="item"
        isCrossedOut
        disableActions
      />
    </div>
  </CCard>
</div>
<MoveShoppingItemModal />
