.multi-input {
  &__label {
    margin-bottom: $spacing-2xs;
    @include uppercasedSecondaryText;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
  }

  &__item {
    display: flex;
    gap: $spacing-md;

    & > :deep(*:first-child) {
      width: 100%;
    }
  }

  &__remove-button {
    position: relative;
    top: 8.5px;
  }

  &__add-button {
    display: flex;
    justify-content: center;
    margin-top: $spacing-lg;

    > button {
      border-radius: 100%;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .multi-input {
    &__remove-button {
      top: 9px;
    }
  }
}
