<MultiInputLoader v-if="isLoading" :withLabel="!!label" />
<div v-else class="multi-input">
  <p v-if="label" class="multi-input__label">{{ label }}</p>
  <div class="multi-input__items">
    <div
      v-for="(value, index) in values"
      class="multi-input__item"
      ref="itemRefs"
      :key="itemsKey + index"
    >
      <slot
        :values="values"
        :index="index"
        :handleAddingItem="handleAddingItem"
      ></slot>
      <CButton
        class="multi-input__remove-button"
        color="secondary"
        variant="text"
        icon="times"
        @click="removeItem(index)"
        :isDisabled="values.length === 1"
        tabindex="-1"
      />
    </div>
  </div>
  <div class="multi-input__add-button">
    <CButton
      type="button"
      color="secondary"
      size="large"
      icon="plus"
      @click="handleAddingItem()"
    />
  </div>
</div>
