<MultiInputLoader v-if="isLoading" :withLabel="!!label" />
<div v-else class="multi-input">
  <p v-if="label" class="multi-input__label">{{ label }}</p>
  <div class="multi-input__items">
    <div v-for="(value, index) in values" class="multi-input__item">
      <slot :values="values" :index="index"></slot>
      <CButton
        class="multi-input__remove-button"
        color="secondary"
        variant="text"
        icon="times"
        @click="removeItem(index)"
        :isDisabled="values.length === 1"
        tabindex="-1"
        :enableMobileResize="false"
      />
    </div>
  </div>
  <div class="multi-input__add-button">
    <CButton
      type="button"
      color="secondary"
      size="large"
      icon="plus"
      @click="addItem()"
      :enableMobileResize="false"
    />
  </div>
</div>
