.select {
  position: relative;

  .dropdown {
    position: absolute;
    left: 2px;
    right: -2px;
    top: calc(100% + 10px);
    box-shadow: $shadow-md;
    border-radius: 6px;
    list-style: none;
    overflow: hidden;

    &__option {
      padding: 15px 15px;
      background-color: $white;
      cursor: pointer;

      &--hovered {
        filter: brightness(95%);
      }
    }

    &__transition {
      &-enter-active,
      &-leave-active {
        transition: 0.1s ease-in-out;
      }

      &-enter-from,
      &-leave-to {
        transform: translateY(-20px);
        opacity: 0;
      }
    }
  }
}
