$spaceForChevron: 38px;

.select {
  position: relative;

  input.select__input {
    padding-right: $spaceForChevron;
  }

  &__input {
    cursor: pointer;

    &:focus {
      & ~ .select__chevron {
        color: var(--primary);
      }
    }
  }

  &__chevron {
    position: absolute;
    right: 15px;
    top: 15px;
    color: var(--text-secondary);
    font-size: 16px;
    z-index: 1;
  }
}
