.shopping-item {
  display: flex;
  align-items: center;
  position: relative;

  &:deep(.checkbox) {
    width: 100%;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: $spacing-xl;
    width: 100%;

    *:last-child:not(.shopping-item__buttons) {
      margin-left: auto;
    }
  }

  &__buttons {
    display: flex;
    gap: $spacing-2xs;
  }

  &:hover {
    .shopping-item__buttons {
      opacity: 1;
    }
  }

  &--grayed-out {
    opacity: 0.5;

    > * {
      text-decoration: line-through;
    }
  }
}
