<div
  class="shopping-item"
  :key="getItemKey(item)"
  :class="{ 'shopping-item--grayed-out': grayedOut }"
>
  <CCheckbox
    v-model="item.isChecked"
    @update:modelValue="handleCheckingSummedItem"
  >
    <template #label>
      <div class="shopping-item__label">
        <p>{{ getItemName(item) }}</p>
        <div class="shopping-item__buttons">
          <CButton
            v-if="!disableActions && !isSummedUpMode"
            color="secondary"
            variant="text"
            icon="edit"
            :size="isMobile ? 'medium' : 'small'"
            @click.stop=""
          />
          <CButton
            v-if="!disableActions"
            color="secondary"
            variant="text"
            icon="trash-can"
            :size="isMobile ? 'medium' : 'small'"
            @click.stop=""
          />
        </div>
        <div>
          <p>{{ item.amount }} {{ item.unitShortcut}}</p>
        </div>
      </div>
    </template>
  </CCheckbox>
</div>
