.select-shopping-list-loader {
  display: grid;
  gap: $spacing-lg;

  > div {
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-xl;
    padding: $spacing-2xl;
    border: 1px solid var(--border-color);
    border-radius: $radius-sm;

    .header {
      width: 80%;
    }

    .amount {
      height: 70%;
      width: 60%;
    }
  }
}
