.select-shopping-list-loader {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  height: unset;

  > div {
    display: flex;
    align-items: center;
    height: 51px;
    padding: 0 $spacing-xl;
    gap: $spacing-sm;
    border: 1px solid var(--border-secondary);
    border-radius: $radius-sm;

    .skeleton-loader__item {
      display: flex;

      &.name {
        width: 40%;
        height: 18px;
      }

      &.button,
      &.count {
        height: 22px;
        width: 22px;
        border-radius: 100%;
      }
    }

    *:nth-child(3) {
      margin-left: auto;
    }
  }
}
