.list-with-filters {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__filters {
    margin-bottom: 20px;
  }

  .filters {
    &__search-input {
      margin: 10px 0 20px;
    }

    &__btns-container {
      display: flex;
      align-items: center;
      gap: 15px;
      overflow-y: auto;
      padding-bottom: 10px;
    }

    .filter-by {
      &__wrapper {
        display: flex;
        align-items: center;
      }

      &__label {
        margin: 0 10px 0 1px;
        font-weight: 500;
        white-space: nowrap;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 25px 0;

    &:deep(.list) {
      padding: 0 25px;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .list-with-filters {
    &--mobile {
      flex-direction: row;
    }

    &__filters {
      width: 100vw;
      margin-bottom: 0;
    }

    &__filters-transition {
      &-enter-active,
      &-leave-active {
        transition: 0.25s ease-in-out;
      }

      &-enter-active {
        position: relative;
        z-index: 1;
      }

      &-enter-from {
        transform: translateX(-100%);
      }
      &-leave-to {
        transform: translateX(-50%);
        opacity: 0;
      }

      &-enter-to,
      &-leave-from {
        transform: translateX(0%);
        opacity: 1;
      }
    }

    &__content-transition {
      &-enter-active,
      &-leave-active {
        transition: 0.25s ease-in-out;
      }

      &-enter-active {
        position: relative;
        z-index: 1;
      }

      &-enter-from {
        transform: translateX(0%);
      }
      &-leave-to {
        transform: translateX(-50%);
        opacity: 0;
      }

      &-enter-to,
      &-leave-from {
        transform: translateX(-100%);
        opacity: 1;
      }
    }

    &__open-mobile-filters-btn {
      padding: 0px 10px 20px;
    }

    .filters {
      &__btns-container {
        gap: 12px;
        margin: 0 -10px;
        padding: 0 10px 8px;
      }

      &__search-input {
        margin: 7px 0 15px;
      }

      .filter-by {
        &__label {
          margin: 0 7px 0 1px;
        }
      }
    }

    &__content {
      padding: 15px 0;

      &:deep(.list) {
        padding: 0 10px;
      }
    }
  }
}

.dark-mode {
  .list-with-filters {
    .filters {
      background-color: $secondary-dark-25;

      &__close-btn {
        color: $white;
      }

      .filter-by {
        &__label {
          color: $white;
        }
      }
    }
  }
}
