.list-with-filters {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__header {
    margin-bottom: 20px;
  }

  .filters {
    &__search-input {
      margin: 15px 1px;
    }

    &__select-tags {
      margin: 0 2px;
    }

    &__clear-btn {
      margin: 0 1px;
    }

    &__btns-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__open-filters-btn {
    margin: 0 1px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 30px 0;

    &:deep(.list) {
      padding: 0 25px;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .list-with-filters {
    &__header {
      margin-bottom: 15px;
    }

    .filters {
      position: fixed;
      top: 45px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $white;
      padding: 15px 10px;
      z-index: 1;
      transform: translateX(-100%);
      transition: 0.2s ease-in-out;
      box-shadow: $shadow-md;

      &--open {
        transform: translateX(0);
      }
    }

    &__content {
      padding: 15px 0;

      &:deep(.list) {
        padding: 0 10px;
      }
    }
  }
}

.dark-mode {
  .list-with-filters {
    .filters {
      background-color: $secondary-dark-25;

      &__close-btn {
        color: $white;
      }
    }
  }
}
