$filtersHeightOffset: 92px; //topbar height + paddings

.list-with-filters {
  display: flex;
  height: 100%;
  width: 100%;

  &__filters {
    display: flex;
    margin-right: 45px;
    margin-left: 1px;
    width: 32%;
    height: 100%;
  }

  .filters {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: $spacing-2xl;
      position: sticky;
      top: 0;
      align-self: flex-start;
      height: 100%;
      width: 100%;
      max-height: calc(100vh - $filtersHeightOffset);
      overflow-y: auto;
      padding: 0 $spacing-sm;
      margin: 0 (-$spacing-sm);
    }

    &__btns-container {
      display: flex;
      align-items: center;
      gap: $spacing-2xl;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 68%;
  }

  &__pagination {
    &-top {
      position: sticky;
      z-index: 1;
      top: -$spacing-2xl;
      background-color: var(--surface-primary);
      margin: -$spacing-md 0 -1px;
      padding: $spacing-md 0;
      border-bottom: 1px solid var(--border-color);
    }

    &-bottom {
      padding: $spacing-md 0;
      background-color: var(--surface-primary);
      border-top: 1px solid var(--border-color);
    }
  }
}

@media screen and (max-width: $screen-md) {
  .list-with-filters {
    display: flex;
    align-items: flex-start;
    max-width: 100vw;

    &--child-transition {
      overflow: hidden;
    }

    &__filters {
      height: unset;
      min-width: 100%;
      margin: 0;
      padding: 0 $spacing-lg;
    }

    &__content {
      min-width: 100%;
      padding: 0 $spacing-lg;
    }

    &__filters-transition,
    &__content-transition {
      &-enter-active,
      &-leave-active {
        transition: 0.2s ease-in-out;
      }

      &-enter-active {
        position: relative;
        z-index: 1;
      }
    }

    &__filters-transition {
      &-enter-from {
        transform: translateX(-100%);
      }
      &-leave-to {
        transform: translateX(-30%);
        opacity: 0;
      }

      &-enter-to,
      &-leave-from {
        transform: translateX(0%);
        opacity: 1;
      }
    }

    &__content-transition {
      &-enter-from {
        transform: translateX(0%);
      }
      &-leave-to {
        transform: translateX(-30%);
        opacity: 0;
      }

      &-enter-to,
      &-leave-from {
        transform: translateX(-100%);
        opacity: 1;
      }
    }

    &__toggle-mobile-filters {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      width: 55px;
      height: 55px;
      border-radius: 100%;
      background-color: var(--primary);
      color: $white;
      right: 5px;
      top: 0;
      box-shadow: $shadow-xs var(--shadow-color);
      z-index: $layer-2;
      font-size: 20px;
      transition: transform 0.05s ease-in-out;
    }

    .filters {
      &__wrapper {
        gap: $spacing-xl;
        max-height: unset;
        overflow-y: visible;
        padding: 0;
        margin: 0;
      }

      &__btns-container {
        gap: $spacing-xl;
      }
    }

    &__pagination {
      &-top {
        top: -$spacing-lg;
      }
    }
  }
}

[data-theme="dark"] {
  .list-with-filters {
    &__toggle-mobile-filters {
      color: $text-lightest;
    }
  }
}
