<div class="list-with-filters">
  <transition name="list-with-filters__filters-transition">
    <div
      v-show="!isMobile || areMobileFiltersOpen"
      class="list-with-filters__filters filters"
    >
      <div class="filters__wrapper">
        <div class="filters__btns-container">
          <CButton
            color="secondary"
            size="small"
            label="Wyczyść filtry"
            icon="times"
            class="filters__clear-btn"
            :isLoading="_isLoading"
            :isDisabled="areFiltersEqualToDefault()"
            @click="clearFilters"
          />
          <CButton
            v-if="enableRandomButton"
            color="secondary"
            size="small"
            label="Wylosuj"
            icon="question"
          />
        </div>
        <CAutocomplete
          v-model:inputValue="filters.searchPhrase"
          @enter="filterBySearchPhrase"
          @blur="filterBySearchPhraseWithDelay"
          @focus="setTemporarySearchPhrase"
          :options="searchSuggestions"
          icon="magnifying-glass"
          placeholder="Szukaj"
          :isLoading="_isLoading"
          :isLoadingOptions="isLoadingSearchSuggestions"
          @dropdownOpen="loadSearchSuggestions"
          onlyInputValue
          label="Szukaj"
        />
        <CSelect
          :modelValue="selectedSort"
          @update:modelValue="sort"
          label="Sortuj"
          :icon="getSelectedSortIcon(sortOptions)"
          :options="sortOptions"
          :isLoading="_isLoading"
        />
        <CSelectTags
          v-if="enableTags"
          :selectedTags="filters.tags"
          @update:selectedTags="filterByTags"
          :tags="availableTags"
          :isLoading="_isLoading"
          withCounts
          enableSortingSelectedToFront
          ref="selectedTagsRef"
        />
      </div>
    </div>
  </transition>
  <transition name="list-with-filters__content-transition">
    <div
      v-show="!isMobile || !areMobileFiltersOpen"
      class="list-with-filters__content"
      ref="content"
    >
      <CPagination
        class="list-with-filters__pagination-top"
        :currentPage="filters.currentPage"
        @update:currentPage="changeCurrentPage"
        :paginationData="list?.pagination"
        :isLoading="_isLoading"
      />
      <CList :items="list?.data" :isLoading="_isLoading">
        <template #header="{ item }">
          <slot name="header" :item="item"></slot>
        </template>
        <template #body="{ item }">
          <slot
            name="body"
            :item="item"
            :addTagToSelected="selectedTagsRef?.addTagToSelected"
          ></slot>
        </template>
      </CList>
      <CPagination
        v-if="list?.data?.length > 6"
        class="list-with-filters__pagination-bottom"
        :currentPage="filters.currentPage"
        @update:currentPage="changeCurrentPage"
        :paginationData="list?.pagination"
        :isLoading="_isLoading"
      />
    </div>
  </transition>
  <button
    v-if="isMobile"
    class="list-with-filters__toggle-mobile-filters"
    :style="mobileBtnStyle"
    @touchmove.prevent="onMobileBtnTouchMove"
    @touchstart="onMobileBtnTouchStart"
    @click="toggleFiltersOnMobile"
  >
    <FontAwesomeIcon
      :icon="areMobileFiltersOpen ? 'list' : 'magnifying-glass'"
    />
  </button>
</div>
