.mobile-sidebar {
  &__wrapper {
    box-shadow: 0 -2px 4px 0 $shadow-color-dark;
    background-color: $secondary-dark-20;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: flex;
    transition: transform 0.2s ease-in-out;
  }

  &--active-2 {
    transform: translateX(-100vw);
  }

  &__items {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
  }

  .item {
    display: flex;
    justify-content: center;

    &__link {
      width: 100%;
      color: $white;
      display: flex;
      transition: color 0.15s ease-in-out;

      &--active {
        color: $primary-light;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px 10px 15px;
      width: 100%;
    }

    &__icon {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      font-size: $font-base;
    }

    &__label {
      font-size: $font-xs;
      letter-spacing: 1px;
      white-space: nowrap;
    }
  }

  &__active-indicator {
    position: fixed;
    display: flex;
    gap: 5px;
    bottom: 4px;
    left: calc(50vw - 7.5px);
    z-index: 21;

    & > span {
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: $secondary;

      &.active {
        background-color: $secondary-light-40;
      }
    }
  }
}

@media screen and (max-height: 600px) {
  .mobile-sidebar {
    &__wrapper {
      bottom: -62px;
    }

    &__active-indicator {
      bottom: -20px;
    }
  }
}

.dark-mode {
  .mobile-sidebar {
    &__wrapper {
      background-color: darken($secondary-dark-25, 3);
    }
  }
}
