.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondary;

  &-pages {
    display: flex;
    cursor: pointer;
    gap: 5px;

    &__item {
      padding: 5px 10px;
      border-radius: 3px;
      font-weight: 600;

      &--active {
        cursor: default;
        color: $secondary;

        background-color: $secondary-light-55;
      }

      &:hover {
        background-color: $secondary-light-55;
      }
    }
  }

  &__arrow {
    padding: 5px 10px;
    border-radius: 3px;
    color: $secondary;

    &--disabled {
      cursor: default;
      color: $secondary-light-30;
    }

    &:hover:not(.pagination__arrow--disabled) {
      background-color: $secondary-light-55;
    }
  }

  &__summary {
    color: $secondary-light-20;
    padding: 0 3px;
  }
}

@media screen and (max-width: $screen-md) {
  .pagination {
    &-pages {
      gap: 5px;

      &__item {
        padding: 3px 8px;
      }
    }

    &__arrow {
      padding: 3px 8px;
    }

    &__summary {
      font-size: $font-sm;
    }
  }
}

.dark-mode {
  .pagination {
    &-pages {
      &__item {
        &--active {
          background-color: $secondary-dark-20;
          color: $secondary-light-30;
        }

        &:hover {
          background-color: $secondary-dark-20;
        }
      }
    }

    &__arrow {
      color: $secondary-light-30;

      &--disabled {
        color: $secondary-dark-10;
      }

      &:hover:not(.pagination__arrow--disabled) {
        background-color: $secondary-dark-20;
      }
    }
  }
}
