$itemPadding: $spacing-sm $spacing-lg;
$mobileItemPadding: $spacing-xs $spacing-md;

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-secondary);

  &-pages {
    display: flex;
    cursor: pointer;
    gap: $spacing-sm;

    &__item {
      padding: $itemPadding;
      border-radius: $radius-xs;
      font-weight: $font-bold;

      &--active {
        cursor: default;
        color: var(--primary);
        background-color: $textButtonHoverBackground;
      }

      &:hover {
        background-color: $textButtonHoverBackground;
      }
    }
  }

  &__arrow {
    padding: $itemPadding;
    border-radius: $radius-xs;
    color: var(--text-secondary);

    &--disabled {
      cursor: default;
      color: var(--text-tetriary);
    }

    &:hover:not(.pagination__arrow--disabled) {
      background-color: $textButtonHoverBackground;
    }
  }

  &__summary {
    font-size: $font-sm;
    color: var(--text-secondary);
    padding: 0 $spacing-sm;
  }

  &__loader {
    .skeleton-loader {
      padding: $spacing-sm;
      height: 29px;
      display: flex;
      gap: 40%;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .pagination {
    &-pages {
      gap: $spacing-sm;

      &__item {
        padding: $mobileItemPadding;
      }
    }

    &__arrow {
      padding: $mobileItemPadding;
    }

    &__loader {
      .skeleton-loader {
        height: 25px;
      }
    }
  }
}
