.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-secondary);

  &-pages {
    display: flex;
    cursor: pointer;
    gap: 5px;

    &__item {
      padding: 5px 10px;
      border-radius: 3px;
      font-weight: 600;

      &--active {
        cursor: default;
        color: var(--text-secondary);
        background-color: rgba(var(--text-primary-rgb), 0.08);
      }

      &:hover {
        background-color: rgba(var(--text-primary-rgb), 0.08);
      }
    }
  }

  &__arrow {
    padding: 5px 10px;
    border-radius: 3px;
    color: var(--text-secondary);

    &--disabled {
      cursor: default;
      color: var(--text-tetriary);
    }

    &:hover:not(.pagination__arrow--disabled) {
      background-color: rgba(var(--text-primary-rgb), 0.08);
    }
  }

  &__summary {
    font-size: $font-sm;
    color: var(--text-secondary);
    padding: 0 5px;
  }

  &__loader {
    .skeleton-loader {
      padding: 5px 0;
      height: 30px;
      display: flex;
      gap: 40%;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .pagination {
    &-pages {
      gap: 5px;

      &__item {
        padding: 3px 8px;
      }
    }

    &__arrow {
      padding: 3px 8px;
    }

    &__summary {
      font-size: $font-sm;
    }

    &__loader {
      .skeleton-loader {
        height: 25px;
      }
    }
  }
}
