.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__form {
    padding: $spacing-4xl;
    width: 500px;
    margin: 0 $spacing-lg;
  }

  &__password {
    margin-bottom: $spacing-2xl;
  }
}
