<CSkeletonLoader class="select-tags-loader loader">
  <div
    v-for="index in 2"
    class="loader__row"
    :style="getLoaderRowGridTemplateColumns()"
  >
    <div
      v-for="index in getLoaderItemsCount()"
      class="loader__item skeleton-loader__item"
    ></div>
  </div>
  <div class="loader__row" :style="getLoaderRowGridTemplateColumns()">
    <div
      v-for="index in getHalfOfLoaderItemsCount()"
      class="loader__item skeleton-loader__item"
    ></div>
  </div>
</CSkeletonLoader>
