.draggable-button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: var(--primary);
  color: $white;
  right: 5px;
  top: 0;
  box-shadow: $shadow-xs var(--shadow-color);
  z-index: $layer-5;
  font-size: 20px;
  transition: transform 0.05s ease-in-out;
}
