.default-layout {
  display: flex;
  flex-direction: column;
  background-color: var(--surface-primary);
  position: relative;
  height: 100vh;

  &__wrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }

  .layout-content {
    display: flex;
    flex-grow: 1;

    &__container {
      display: flex;
      width: 100%;
      min-height: 100%;
      margin: auto;
    }

    &__wrapper {
      padding: $spacing-2xl;
      padding-right: $spacing-md;
      flex-grow: 1;
      width: 100%;
      overflow-y: scroll;
    }
  }

  &:deep(header) {
    margin-bottom: $spacing-4xl;

    & > h1 {
      font-size: $font-2xl;
      color: var(--text-primary);
      letter-spacing: 1px;
      font-weight: $font-medium;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .default-layout {
    .layout-content {
      &__wrapper {
        padding: $spacing-lg 0;
      }
    }

    &:deep(header) {
      margin: 0 $spacing-lg $spacing-2xl;

      & > h1 {
        font-size: $font-xl;
      }
    }
  }
}
