<div class="default-layout">
  <CTopBar />
  <div class="default-layout__wrapper">
    <CSideBar v-if="!isMobile" :items="navItems" />
    <div class="default-layout__content layout-content">
      <div
        class="layout-content__wrapper"
        id="main-scroll-container"
        ref="container"
      >
        <main
          class="layout-content__container"
          :style="{ maxWidth: getContainerMaxWidth() }"
        >
          <slot></slot>
        </main>
      </div>
    </div>
  </div>
  <div id="mobile-dropdowns-container"></div>
  <CBottomBar v-if="isMobile" :items="navItems" />
</div>
