.button {
  border: 0;
  display: inline;
  font-weight: $font-bold;
  cursor: pointer;
  position: relative;
  white-space: nowrap;

  &--disabled {
    opacity: 0.5;
    cursor: default;
  }

  &--full-width {
    width: 100%;

    .button__label {
      width: 100%;
      text-align: center;
    }
  }

  &--loading {
    .button__content {
      opacity: 0;
    }
  }

  &.button--text {
    background-color: transparent;

    &:hover:not(.button--disabled) {
      background-color: $textButtonHoverBackground;
    }
  }

  &--primary {
    &.button--text {
      color: var(--primary);
    }

    &.button--contained {
      color: $white;
      background-color: var(--primary);
    }
  }

  &--secondary {
    &.button--text {
      color: $secondary;
    }

    &.button--contained {
      color: $white;
      background-color: $secondary;
    }
  }

  &--small {
    font-size: $font-sm;
    padding: $spacing-md $spacing-lg;
    border-radius: $radius-xs;

    .button__content {
      gap: 8px;
    }
  }

  &--medium {
    font-size: $font-base;
    padding: $spacing-lg $spacing-xl;
    border-radius: $radius-sm;

    .button__content {
      gap: $spacing-lg;
    }
  }

  &--large {
    font-size: $font-lg;
    padding: $spacing-xl $spacing-2xl;
    border-radius: $radius-md;

    .button__content {
      gap: $spacing-xl;
    }
  }

  &__label {
    display: inline;
    letter-spacing: 1px;
  }

  &__content {
    display: flex;
  }

  &__icon {
    margin-top: 1px;
  }

  &--only-icon {
    padding: 0;

    .button__icon {
      margin-top: 0;
    }

    .button__content {
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    &.button--small {
      width: 24px;
      min-width: 24px;
      height: 24px;
    }

    &.button--medium {
      width: 28px;
      min-width: 28px;
      height: 28px;
    }

    &.button--large {
      width: 32px;
      min-width: 32px;
      height: 32px;
    }
  }
}

[data-theme="dark"] {
  .button {
    &--primary {
      &.button--contained {
        color: $white;
      }
    }

    &--secondary {
      &.button--text {
        color: $text-lightest;
      }

      &.button--contained {
        color: $text-lightest;
        background-color: darken($secondary, 10);
      }
    }
  }
}
