.button {
  border: 0;
  display: inline-flex;
  font-weight: $font-bold;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  &--disabled {
    opacity: 0.4;
    cursor: default;
    box-shadow: none !important;
  }

  &--full-width {
    width: 100%;
    justify-content: center;

    .button__label {
      text-align: center;
    }
  }

  &--loading {
    .button__content {
      opacity: 0;
    }
  }

  &.button--text {
    background-color: transparent;
    padding: $spacing-md;
    border-radius: $radius-md;
    box-shadow: none !important;

    .button__content {
      gap: $spacing-md;
    }

    &:hover:not(.button--disabled) {
      background-color: var(--text-button-hover-background);
    }
  }

  &--primary {
    &.button--text {
      color: var(--primary);
    }

    &.button--contained {
      color: $white;
      background-color: var(--primary);
    }

    &:after {
      background-color: rgba(var(--text-primary-rgb), 0.4);
    }
  }

  &--secondary {
    &.button--text {
      color: var(--text-secondary);
    }

    &.button--contained {
      color: $white;
      background-color: $secondary;
    }

    &:after {
      background-color: rgba(var(--text-primary-rgb), 0.25);
    }
  }

  &--small {
    font-size: $font-sm;
    padding: $spacing-md $spacing-lg;
    border-radius: $radius-sm;
    box-shadow: $shadow-xs var(--shadow-color);

    .button__content {
      gap: $spacing-md;
    }
  }

  &--medium {
    font-size: $font-base;
    padding: $spacing-lg - 1 $spacing-xl;
    border-radius: $radius-md;
    box-shadow: $shadow-sm var(--shadow-color);

    .button__content {
      gap: $spacing-lg;
    }
  }

  &--large {
    font-size: $font-lg;
    padding: $spacing-xl - 1 $spacing-2xl;
    border-radius: $radius-lg;
    box-shadow: $shadow-md var(--shadow-color);

    .button__content {
      gap: $spacing-xl;
    }
  }

  &__label {
    display: inline;
    letter-spacing: 1px;
  }

  &__content {
    display: flex;
  }

  &__icon {
    margin-top: 1px;
  }

  &--only-icon {
    padding: 0 !important;
    border-radius: 100% !important;

    .button__icon {
      margin-top: 0;
    }

    .button__content {
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    &.button--small {
      width: 28px;
      min-width: 28px;
      height: 28px;
    }

    &.button--medium {
      width: 32px;
      min-width: 32px;
      height: 32px;
      box-shadow: $shadow-xs var(--shadow-color);
    }

    &.button--large {
      width: 36px;
      min-width: 36px;
      height: 36px;
      box-shadow: $shadow-sm var(--shadow-color);
    }
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    transition: opacity 0.2s linear;
    opacity: 0;
  }

  &__click-animation:after {
    transition: opacity 0.05s linear;
    opacity: 1;
  }
}

[data-theme="dark"] {
  .button {
    &--primary {
      &.button--contained {
        color: $white;
      }
    }

    &--secondary {
      &.button--contained {
        color: $text-lightest;
        background-color: darken($secondary, 10);
      }
    }
  }
}
