.button {
  border: 3px solid transparent;
  display: inline;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  white-space: nowrap;

  &--disabled {
    opacity: 0.5;
    cursor: default;
  }

  &--full-width {
    width: 100%;
  }

  &.button--text {
    background-color: transparent;
    padding: 0;
    border: 0;
    box-shadow: none;
  }

  &--primary {
    &.button--text {
      color: $primary;
    }

    &.button--contained {
      color: $white;
      background-color: $primary;
    }

    &.button--outlined {
      color: $primary;
      background-color: $white;
      border-color: $primary;
    }
  }

  &--secondary {
    &.button--text {
      color: $secondary-dark-30;
    }

    &.button--contained {
      color: $secondary-dark-30;
      background-color: $secondary-light-50;
    }

    &.button--outlined {
      color: $secondary-dark-30;
      background-color: $white;
      border-color: $secondary-light-50;
    }
  }

  &--small {
    font-size: $font-sm;
    padding: 5px 10px;
    box-shadow: $shadow-xs;
    border-radius: 3px;
  }

  &--medium {
    font-size: $font-base;
    padding: 10px 15px;
    box-shadow: $shadow-sm;
    border-radius: 4px;
  }

  &--large {
    font-size: $font-lg;
    padding: 15px 20px;
    box-shadow: $shadow-md;
    border-radius: 5px;
  }

  &__label {
    display: inline;
    letter-spacing: 1px;
  }

  &__content {
    &--loading {
      opacity: 0;
    }
  }

  &__icon {
    margin-right: 6px;
  }
}

.dark-mode {
  .button {
    &--primary {
      &.button--text {
        color: $primary;
      }

      &.button--contained {
        color: $white;
        background-color: $primary;
      }

      &.button--outlined {
        color: $primary;
        background-color: $white;
        border-color: $primary;
      }
    }

    &--secondary {
      &.button--text {
        color: $secondary-light-30;
      }

      &.button--contained {
        color: $white;
        background-color: $secondary-dark-15;
      }

      &.button--outlined {
        color: $secondary-dark-20;
        background-color: $white;
        border-color: $secondary-light-50;
      }
    }

    &--small {
      font-size: $font-sm;
      padding: 5px 10px;
      box-shadow: $shadow-xs-dark;
      border-radius: 3px;
    }

    &--medium {
      font-size: $font-base;
      padding: 10px 15px;
      box-shadow: $shadow-sm-dark;
      border-radius: 4px;
    }

    &--large {
      font-size: $font-lg;
      padding: 15px 20px;
      box-shadow: $shadow-md-dark;
      border-radius: 5px;
    }
  }
}
